/*
 * I have no idea what anything here does or if it even works, harmony is terrible
*/

// "change some text from all caps to only fist letter cap"
.bodyTitle-Y0qMQz {
  text-transform: capitalize;
  font-size: 15px;
}

// imagine harmony but comment
.categoryWrapper-UZ5YNj,
.header-8ilj5e,
.nav-2KnmHb,
.header-1TOWci,
.container-2lgZY8,
.privateChannels-1nO12o {
  background-color: var(--background-secondary);
}

// ????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
#app-mount,
body,
.bg-h5JY_x {
  /*app bg idk*/
  background-color: var(--background-secondary);
}

// imagine harmony but comments
.channelTextArea-rNsIhG {
  background: transparent;
}

// imagine harmony but comments #2
.innerDisabled-1YTFPN,
.scrollableContainer-2NUZem,
.overlayTitle-8IcS01.idle-U-LIlZ /*"call related changes" (moved here for better performance, used to be a seperate rule)*/ {
  opacity: 1 !important;
}
.barButtonAlt-3gIkIj {
  background: transparent;
}

// "Move Call UI buttons a little away from the rest -  thanks to emma form Customa" yes thanks emma form Customa
.videoGridWrapper-2BDlMX.minLayout-tDGzv- {
  margin-bottom: 10px;
}

// imagine harmony but comments #3
.colorDefault-2K3EoJ:hover, // ???????????????????????????
.colorDefault-2K3EoJ.focused-3afm-j, //?                  \
.colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),// ???????????????????????????
.item-1tOPte:hover {
  background-color: var(--background-modifier-hover) !important;
}
.mask-1qbNWk.icon-1IxfJ2 {
  filter: none !important;
}

// css snippet fix loading emojis by emma
.emojiItem-14v6tW .emojiItemImageLoading-1yEIxx {
  background-image: none;
  background-color: var(--background-primary) !important;
  border-radius: 30%;
}

// Fix fade thingy for good looking titlebar snippet
.children-19S4PO:after {
  background: transparent !important;
}
.searchResultMessage-1fxgXh.hit-1fVM9e > div > .contents-2mQqc9 img,
div[id^="pinned-messages-"] .contents-2mQqc9 img {
  top: 15px;
}

// scroller quick fix
.scrollerBase-289Jih::-webkit-scrollbar-track {
  background-color: transparent !important;
}
