.message-2CShn3 {
  .container-2sjPya:not(:empty) {
    display: flex;
    flex-wrap: wrap;
    position: static;
    gap: 0.25em;
    > div {
      margin: 0;
    }

    .wrapper-1HIH0j, // server invite
    .embedSpotify-1rDvOE {
      order: 1;
    }

    .reactions-1BUEKl, // reactions
    .ephemeralMessage-11q8XZ, // "Only you can see this" on local messages
    .container-LxpXNv { // "Share with your followers" container on announcement channels
      flex: 1 0 100%;
      order: 500;
    }
    .spine-2vt3pM + .container-3i3IzO { // threads
      margin-right: 100%;
      min-width: auto;
      order: 550;
    }
    .spine-2vt3pM.cozy-1HM6-i {
      display: block;
      position: absolute;
      width: 2rem;
      top: 3rem;
      bottom: 29px;
      left: 2.2rem;
    }
  }
  &.hasThread-3h-KJV {
    &.isSystemMessage-QNv9ZH .spine-2vt3pM.cozy-1HM6-i {
      top: 1.8rem;
    }
    &::after {
      border: unset;
      width: unset !important; // i really do not want to do specificity fighting
    }
  }

  // make the remove attachment/embed buttons nice
  .embedSuppressButton-1rZHq6,
  .removeAttachmentButton-1iO1qS {
    top: 2px;
    right: 2px;
    padding: 0;
    z-index: 1;
    mix-blend-mode: difference;
    &:hover {
      color: var(--interactive-hover);
    }
    &:active {
      color: var(--interactive-active);
    }
    path {
      d: path("M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z");
    }
  }
}
