$checked-settings: false;

//? General
$topbar-button-spacing: 6px; // How much space to be between the buttons on the top right
$blur-amount: 6px; // How much to blur discrims and the DM list
$custom-wordmark-text: Dicksword; // What the text on the titlebar should be (old font)
$use-custom-font: false; // Replaces Discord's font with some "custom" fonts, Raleway, Open Sans and Fira Codew

//? Individual snippets
$stage-discovery-rows: 2; // The amount of rows the stage discovery tab has (works best with 1 or 2)

//? User popouts/modals
$av-size: 96px; // How big avatars should be (works best with 80-96px)

//? Harmony
$top-left-corner-roundedness: 15px; // How round the top-left part next to the sidebar is

//? Discolored
$discolored-grayscale: 0.35;
$discolored-opacity: 0.95;

//? Context menu icons
$context-left: false; // Whether the context menu icons are on the left or not










//? CSS vars
$qs-vars: (
  pink: hsl(305, calc(var(--saturation-factor, 1) * 100%), 75%),
  red: var(--old-red, hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)),
  orange: hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%),
  yellow1: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%),
  yellow2: hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%),
  green: var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)),
  green-hov: var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%)),
);

body { // special thanks to ducko for making me use body instead of :root
  //* QS vars
  @each $col-name, $col in $qs-vars {
    --qs-#{$col-name}: #{$col};
  }

  //* Other vars
  --spotify-color: hsl(141, calc(var(--saturation-factor, 1) * 72.9%), 42%);

  //* Ripple support
  // --mouseX: 0;
  // --mouseY: 0;
  --clickX: 0;
  --clickY: 0;
}
