/*
 ! This file will start being, mostly "deprecated" soon,
 ! most of the things you used to be able to do here
 ! will be able to be done via CSS variables instead.
*/

//? Discolored
$discolored-grayscale: 0.35;
$discolored-opacity: 0.95;

//? Context menu icons
$context-icons-side: right; // Which side the context menu icons should be [left/right]

//? Misc
$topbar-button-spacing: 6px; // How much space should be between the buttons on the top right
$use-custom-font: false; // Replaces Discord's font with some "custom" fonts; Raleway, Open Sans and Fira Code

//? CSS vars
body {
  //? Misc
  --role-opacity: 0.25; // changes the opacity of the role pill backgrounds
  --corner-radius: 15px; // how round (usually) the top left corner of Discord should be
  --avatar-size: 96px; // how big avatars (in user popouts/modals) should be
  --wordmark-text: "Dicksword";

  //? QS color vars
  $vars: ( // these variables will most likely change names soon:tm:
    col: (
      "pink" hsl(302, calc(var(--saturation-factor, 1) * 100%), 72.5%),
      "red" var(--old-red, hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)),
      "orange" hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%),
      "yellow" hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%),
      "hypesquad-yellow" hsl(38, calc(var(--saturation-factor, 1) * 96%), 63%),
      "green" var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)),
      "green-hov" var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%)),
      "gray" #4f545c,
      "gray-hov" #72767d,
    ),
  );
  @each $primary, $vars in $vars {
    @each $name, $value in $vars {
      --qs-#{$primary}-#{$name}: #{$value};
    }
  }

  //? Misc color vars
  --spotify-color: hsl(141, calc(var(--saturation-factor, 1) * 72.9%), 42%);
}
