$checked-settings: false;

//? General
$topbar-button-spacing: 6px; // How much space to be between the buttons on the top right
$blur-amount: 6px; // How much to blur discrims and the DM list
$custom-wordmark-text: Dicksword; // What the text on the titlebar should be (old font)
$use-custom-font: false; // Replaces Discord's font with some "custom" fonts, Raleway, Open Sans and Fira Codew

//? Individual snippets
$stage-discovery-rows: 2; // The amount of rows the stage discovery tab has (works best with 1 or 2)
$use-better-sidebar: true; // Makes the icons on the dm channel list more compact
$use_no_dash: true; // Makes channel names have spaces instead of dashes

//? User popouts/modals
$av-size: 96px; // How big avatars should be (works best with 80-96px)

//? Harmony
$top-left-corner-roundedness: 15px; // How round the top-left part next to the sidebar is

//? Discolored
$discolored-grayscale: 0.35;
$discolored-opacity: 0.95;

//? Context menu icons
$context-left: false; // Whether the context menu icons are on the left or not











































//* CSS vars
body { // special thanks to ducko for making me use body instead of :root
  --qs-pink: hsl(305, calc(var(--saturation-factor, 1) * 100%), 75%); // #FF80F4
  --qs-red: var(--old-red, hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)); // #ED4245
  --qs-orange: hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%); // #F57531
  --qs-yellow1: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%); // #FAA81A
  --qs-yellow2: hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%); // #CB8515
  --qs-green: var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)); // #3BA55D
  --qs-green-hov: var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%)); // #31894D
}
:root {
  --mouseX: 0;
  --mouseY: 0;
  --clickX: 0;
  --clickY: 0;
}
