$username: username;

@if $username != username {
  #splash {
    // Background
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .7;
      filter: blur(1.5px);
      background: url("C:/Users/#{$username}/powercord/src/Powercord/themes/QuickSCSS/assets/splash/bg.gif");
      background-size: 117.5%;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .splash-inner {
      // Text
      span {
        margin-top: 300px;
      }
      // Loading
      video {
        display: none;
      }
    }
    &::after{
      content: url("C:/Users/#{$username}/powercord/src/Powercord/themes/QuickSCSS/assets/splash/loading.gif");
      position: absolute;
      top: -100px;
      left: -100px;
      transform: scale(0.75);
    }
  
    // Progressbar
    .progress .progress-bar {
      background-color: #ffffff;
      .complete {
        background-color: transparent;
      }
    }
  }
}
