//! 1 = yes | 0 = no !\\
$checked-settings: 0;

//* Main
//? Other / Enhancements
$topbar-button-spacing: 6px; // How much space to be between the buttons on the top right
$blur-amount: 6px; // How much to blur discrims and the DM list
$use-osx-buttons: 1; // Whether or not to have the OSX-styled maximize/minimize/close buttons
$use-custom-wordmark: 1; // Whether or not to use a custom wordmark (top left)
$custom-wordmark-text: dicksword; // What the text on the titlebar should be (old font)
$no-dashes: 1; // Whether or not channel names have spaces instead of dashes

//* Individual snippets
//? Better stage discovery tab
$stage-discovery-rows: 2; // The amount of rows the stage discovery tab has (works best with 1 or 2)

//* User popouts/modals
//? Bigger avatar
$av-size: 96px; // How big avatars should be

//* Harmony
$top-left-corner-roundedness: 15px; // How round the top-left part next to the sidebar is

//* Discolored
$discolored-grayscale: 0.35;
$discolored-opacity: 0.95;
