$colors: (
  "watching & playing": (
    ">:first-child",
    #5865F2
  ),
  "live": (
    ".detailsWrap-omKn0b.textRow-1sENuL[title]",
    #593695
  ),
  "Xbox": (
    ".fullWidth-fJIsjq > .contents-3ca1mk > .flex-MfOioC",
    #107C10
  ),
  "Spotify": (
    ".timeBarUserPopout-qLXZaR",
    #1DB954
  ),
);
@each $type, $stuff in $colors {
  $class: nth($stuff, 1);
  $col: nth($stuff, 2);
  .newPopoutActivityStyles {
    #{$class} {
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: var(--inset);
        border-radius: 4px;
        background-color: $col;
        box-shadow: 4px 4px 0 color.adjust($col, $saturation: -15%, $lightness: -10%);
      }
    }
  }
}

#app-mount {
  .ShowAllActivities-wrapper-wrapper {
    position: relative;
    isolation: isolate;
    margin-bottom: calc((var(--inset) - 2px) * -1);
    --inset: -10px;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: calc(var(--inset) - 2px);
      margin-bottom: inherit;
      border-radius: 4px;
      background-color: var(--background-secondary-alt);
      box-shadow: 4px 4px 0 var(--background-tertiary);
    }
  }
  .ShowAllActivities-wrapper-controls {
    margin: 0 0 12px;
    background-color: var(--background-tertiary);
    box-shadow: 4px 4px 0 var(--background-floating);
  }
}
.newPopoutActivityStyles {
  isolation: isolate;
  margin: 8px;
  padding-bottom: 0;
  margin-bottom: 24px;
  --inset: -12px;

  // improve text color
  #app-mount & {
    .content-tXPNDw span {
      color: inherit;
    }
    .content-tXPNDw,
    .content-tXPNDw div {
      color: #ededed;
    }
    .content-tXPNDw h3,
    .content-tXPNDw a,
    .headerText-3g1XK9 {
      color: white;
    }
  }

  // make buttons be nicer
  .buttonSize-dIiz43.lookFilled-yCfaCM {
    border: 1px solid currentColor;
    color: #fff;
    background-color: transparent;
    transition: background-color .17s ease;
    &:active {
      background-color: hsla(0, 0%, 100%, .1);
    }
    &:hover,
    &:disabled {
      background-color: transparent;
    }
  }

  // remove spotify icon
  [src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] {
    display: none !important;
  }

  // fix xbox
  .button-f2h6uQ {
    position: static;
    .platformIcon-ufGK4I {
      display: none;
    }
  }
}
