$connections: (
  "Battle.net": (
    asset: "/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg",
    color: #148eff,
  ),
  "Facebook": (
    asset: "/assets/32045743cb7670855ae726743c949e0c.svg",
    color: #0668e1,
  ),
  "GitHub": (
    asset: "/assets/6a853b4c87fce386cbfef4a2efbacb09.svg",
    color: #1b1f23,
  ),
  "PlayStation Network": (
    asset: "/assets/7bab4490382024b0c8c29b5378eeaf8f.svg",
    color: #0070d1,
  ),
  "Reddit": (
    asset: "/assets/f3224f560c8f5974355596a4f7e9ce19.svg",
    color: #ff4500,
  ),
  "Spotify": (
    asset: "/assets/eaeac24163b35f7526704a3d9b3c7722.svg",
    color: var(--spotify-color),
  ),
  "Steam": (
    asset: "/assets/d897626dfa2016ea3ad0af935acb6070.svg",
    old-asset: "/assets/1f07067017f955a0cde4e994e945f417.svg",
    color: #c5c3c0,
  ),
  "Twitch": (
    asset: "/assets/ca71e0b8818221eea1deebbaf8dc6518.svg",
    color: #9146ff,
  ),
  "Twitter": (
    asset: "/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg",
    color: #1d9bf0,
  ),
  "Xbox Live": (
    asset: "/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg",
    old-asset: "/assets/29b4af8bf13fa73258692008d25b4f0d.png",
    color: #107c10,
  ),
  "YouTube": (
    asset: "/assets/57ee9535485efae7eb923ed4893abb57.svg",
    color: #ff0000,
  ),
  "League of Legends": (
    asset: "/assets/94dc6f30a819026fa295d85f1f72b4ab.svg",
    color: #c89b3c,
  ),
  "Skype": (
    asset: "/assets/316ed923548387f8983e28a3804e6712.svg",
    color: #0078ca,
  ),
);
$connection-elements: (
  ".connectedAccount-1xKpli": ( // modal
    icon: ".connectedAccountIcon-2vls0t",
    src: true,
    use-sibling: true,
    radius: 3px,
  ),
  ".accountBtn-1YkMgV": ( // connect account
    icon: ".accountBtnInner-3XK70s[aria-label]",
    src: false,
    use-sibling: false,
    radius: 5px,
  ),
  ".connection-107AGH": ( // connected account in settings
    icon: ".connectionIcon-3nqZDW",
    src: true,
    use-sibling: true,
    radius: 8px,
  ),
);

//? colored border
%connection-border-pseudo {
  ::after {
    content: "";
    position: fixed;
    inset: -1px;
    pointer-events: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--color, var(--background-modifier-accent));
    //outline: var(--color, var(--background-modifier-accent)) solid 1px;
    //outline-offset: 1px;
  }
}
@each $root, $other in $connection-elements {

  // main
  #{$root} {
    transform: translateZ(0);
    border-color: transparent;
  }

  #{map-get($other, icon)} {

    // radius
    $radius: map-get($other, radius);
    @if (map-get($other, use-sibling)) {
      + div {
        --border-radius: #{$radius};
        @extend %connection-border-pseudo;
      }
    } @else {
      --border-radius: #{$radius};
      @extend %connection-border-pseudo;
    }
  }
  @each $platform, $assets in $connections {
    $asset: map-get($assets, asset);
    $old-asset: map-get($assets, old-asset);
    $color: map-get($assets, color);

    // color
    @if (map-get($other, src)) {
      @if (map-get($other, use-sibling)) {
        [src="#{$asset}"] {
          + div {
            --color: #{$color};
          }
        }
      } @else {
        [src="#{$asset}"] {
          --color: #{$color};
        }
      }
    } @else {
      @if (map-get($other, use-sibling)) {
        [style*="background-image: url(\"#{$asset}\")"] {
          + div {
            --color: #{$color};
          }
        }
      } @else {
        [style*="background-image: url(\"#{$asset}\")"] {
          --color: #{$color};
        }
      }
    }

    //? replace icon
    [class*="conn"] {
      $url: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/better-connections/#{$platform}.svg?sanitized=true");
      [src="#{$asset}"], &[src="#{$asset}"]
      #{if($old-asset, ",[src=\"#{$old-asset}\"],&[src=\"#{$old-asset}\"]", "")} { // for UserDetails by strencher
        content: $url !important;
      }
      [style*="background-image: url(\"#{$asset}\")"], &[style*="background-image: url(\"#{$asset}\")"] {
        background-image: $url !important;
      }
    }
  }
}
