@import "./modals.scss";
@import "./popouts.scss";

.userPopout-2j1gM4, .profileBannerPreview-3_l0Wd,
[aria-label="User profile modal"] {
  //? Badges
  [aria-label="User badges"] {
    top: 8px;
    gap: 3px;
    > div {
      margin: unset;
    }
    div,
    img:not([alt="Custom badge"]) {
      height: 28px;
      width: 28px;
    }
  }

  //? Smaller discrim
  .discrimBase-1VOoau, // popout
  .discriminator-1bqsd3, // modal
  .discriminator-2m-MqL { // settings modal
    font-size: 14px;
    color: var(--header-secondary);
    vertical-align: bottom;
  }

  //? Improve the spotify icon positioning
  #app-mount & .spotifyIcon-2J9kSv {
    top: 12px;
    right: 12px;
  }

  //? Make the about me section get "limited" less
  .aboutMeBody-1J8rhz,
  .userBio-2-tr00 {
    &.clamped-2ZePhX {
      -webkit-line-clamp: 10;
      line-clamp: 10;
    }
  }

  //? Activity text positioning
  .gameIcon-1siQqm {
    margin-right: 6px;
  }
  .content-tXPNDw {
    margin-left: 0;
  }
}
