.layer-1Ixpg3 > [aria-label][aria-modal="true"] .small-23Atuv.root-8LYsGj,
div:not([class]) .backdrop-2ByYRN + .modal-2LBig1 { //* server profile modal
  //? color changes
  .topSection-13QKHs {
    background-color: var(--background-tertiary);
  }
  .avatar-3QF_VA {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  .body-1Ukv50 {
    background-color: var(--background-secondary);
    &.noTabBar-2Q-iE_ {
      border-top: none;
    }
  }

  //? almost everything else
  //* banner height
  .banner-1YaD3N {
    height: 240px;
  }

  //* header positioning
  .nameTag-2Nlmsy {
    margin-bottom: 12px; // thanks juby
    &.nameTagWithCustomStatus-5c-v3- {
      margin-bottom: 8px;
    }
  }
  .customStatusActivity-WKWGD- {
    padding-bottom: 8px;

    //* "fix" custom status overflow
    .customStatus-kFfkj5 {
      display: flex;
    }
  }

  //? improve the tab thingies
  .listScroller-entkMk {
    overflow: hidden overlay !important;
    counter-reset: mutuals;
    .iconActiveMedium-27_R5B {
      border-radius: 50%;
      transition: border-radius 200ms linear;
    }
    .listRow-2nO1T6 {
      &:hover {
        .iconActiveMedium-27_R5B {
          border-radius: 12px;
        }
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: counter(mutuals);
        counter-increment: mutuals;
        margin-inline: 4px 12px;
        width: 2.4ch;
        text-align: center;
        opacity: 0.6;
        transition: opacity 200ms linear;
      }
      .listName-PwbeHL {
        flex: 1;
      }
    }
  }

  //? move buttons below the actual activities
  .activityProfile-1712BN {
    .assets-3PQvAh {
      margin: 0;
    }
    .body-u1Y8uL {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
      > .buttonSize-dIiz43 {
        grid-column: span 3;
      }
    }
    .buttonsWrapper-2ARRp1 {
      margin: 0;
      grid-row: 2;
      grid-column: span 3;
    }
    .buttonSize-dIiz43 {
      width: 100%;
    }
    .contentNoImagesProfile-Xss4dS {
      grid-column: span 3;
    }
  }
}

//? Settings user modal
.accountProfileCard-lbN7n- {
  .settingsBanner-1eDJ5w {
    height: 240px;
  }
}
