.layer-2KE1M9 > [aria-label][aria-modal="true"] .small-3iVZYw.root-3QyAh1,
div:not([class]) .backdrop-1wrmKB + .modal-3c3bKg { //* server profile modal
  //? color changes
  .topSection-y3p-_D {
    background-color: var(--background-tertiary);
  }
  .avatar-AvHqJA {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  .body-r6_QPy {
    background-color: var(--background-secondary);
    &.noTabBar-3ZjPNR {
      border-top: none;
    }
  }

  //? USRBG
  .avatar-AvHqJA {
    isolation: isolate;
    &::before {
      content: "";
      position: fixed;
      inset: 0;
      height: 240px;
      -webkit-mask: radial-gradient(circle farthest-side at #{$av-size / 1.325 + 4} 238px, transparent #{$av-size / 1.45}, black #{$av-size / 1.43} 100%); // very not hacky
      mask: radial-gradient(circle farthest-side at #{$av-size / 1.325 + 4} 238px, transparent #{$av-size / 1.45}, black #{$av-size / 1.43} 100%); // very not hacky
      background: var(--user-background) no-repeat var(--user-popout-position, center) / cover;
    }
  }

  //? almost everything else
  //* banner height
  .banner-2QYc2d {
    height: 240px;
  }

  //* header positioning
  .nameTag-ECvD8P {
    margin-bottom: 12px; // thanks juby
    &.nameTagWithCustomStatus-2kkfrQ {
      margin-bottom: 8px;
    }
  }
  .customStatusActivity-nmH3DF {
    padding-bottom: 8px;

    //* "fix" custom status overflow
    .customStatus-1COQYu {
      display: flex;
    }
  }

  //? improve the tab thingies
  .listScroller-3GmIYj {
    overflow: hidden overlay !important;
    .iconActiveMedium-1UaEIR {
      border-radius: 50%;
      transition: border-radius 200ms linear;
    }
    .listRow-1iDGel {
      &:hover {
        .iconActiveMedium-1UaEIR {
          border-radius: 12px;
        }
      }
    }
  }

  //? move buttons below the actual activities
  .activityProfile-2bJRaP {
    .assets-VMAukC {
      margin: 0;
    }
    .body-ZAhrcj {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
      > .buttonSize-AQY2mE {
        grid-column: span 3;
      }
    }
    .buttonsWrapper-2spIeK {
      margin: 0;
      grid-row: 2;
      grid-column: span 3;
    }
    .buttonSize-AQY2mE {
      width: 100%;
    }
    .contentNoImagesProfile-371_Rv {
      grid-column: span 3;
    }
  }
}

//? Settings user modal
.accountProfileCard-1XCH88 {
  .settingsBanner-15-pZk {
    height: 240px;
  }
}
