.userPopout-xaxa6l {
  //? color changes
  .headerTop-3vNv-a,
  .customStatus-oN4ZZY {
    background-color: var(--background-tertiary);
  }
  .avatar-37jOim {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  &,
  .footer-3UKYOU {
    background-color: var(--background-secondary);
  }
  .bodyInnerWrapper-26fQXj {
    background-color: transparent;
  }

  //? literally everything else
  //* banner height
  .banner-2QYc2d {
    height: 120px;
  }

  //* header positioning
  .headerTop-3vNv-a {
    padding-bottom: 8px;
    @at-root .customStatus-oN4ZZY,
    &:not(.headerTopWithCustomStatus-1DHAjX) {
      padding-bottom: 12px;
      margin-bottom: 8px;
    }
  }
  div.customStatus-oN4ZZY {
    border: unset;
    padding-top: 8px;
    padding-bottom: 10px;
    span {
      line-height: 1.4em;
    }
  }

  @at-root .activityVoiceChannel-OPU-Fm, .streamPreviewWrapper-2DSWOK,
  & .activity-2INFPu {
    max-width: 100%;
    //* make the big assets bigger
    .assets-VMAukC {
      margin-right: 8px;
      > svg,
      .assetsLargeImage-eYwpTX:not(foreignObject > img),
      .assetsLargeImageStreamPreview-1A9lfF,
      .assetsLargeImageUserPopout-3Pp8BK,
      .assetsLargeImageUserPopoutXbox-2hgKt0 {
        height: 72px;
        width: 72px;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }

    //* fix activity text overflowing
    .content-3JfFJh,
    .headerText-1HLrL7 {
      width: 0;
      flex-grow: 1;
    }
  }

  //* get rid of the devider
  .divider-ewBQKj {
    display: none;
  }

  //* make the "body" actually good
  .body-3HBlXn {
    display: flex;
    flex-direction: column;
    padding: 0 0 14px !important;
    overflow: visible !important;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    > div {
      padding-inline: 16px;
    }
    > button {
      margin-inline: 16px;
    }

    //* fix "Add to Server" button
    .applicationInstallButton-1M2YjM {
      width: unset;
    }

    //* improve positioning
    h3:not(.activityUserPopout-2yItg2 h3) {
      margin-bottom: 6px;
    }
  }

  .bodyInnerWrapper-26fQXj {
    display: grid;
    //* UserDetails stuff
    [class^="UserDetails-"][class$="body" i] { // this is great
      order: 1;
      margin-bottom: 12px;
      &[class*="connections"] {
        .UserDetails-connections-connections {
          gap: 4px;
        }
        .UserDetails-badge-connection {
          margin: 0;
        }
        .UserDetails-badge-verifiedBadge {
          display: none;
        }
      }
      > div {
        margin-bottom: 0;
      }
    }
    .UserDetails-mutualFriends-mutualFriend {
      background-color: transparent;
    }

    //* Permission viewer
    .newPopoutActivityStyles {
      order: -2;
    }
    #permissions-popout {
      order: -1;
    }
    .member-perms-header {
      div,
      ~ ul {
        display: none;
      }
      .perm-details {
        position: absolute;
        right: 8px;
        color: var(--header-secondary);
      }
      .perm-details-button {
        height: 1em;
      }
    }
  }
}

//? Settings user popout
.profileBannerPreview-gaX5MP {
  background-color: transparent;
  .banner-hcPdsd {
    height: 120px;
  }
  .avatarUploaderInner-mAGe3e {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  .headerTop-3vNv-a {
    background-color: var(--background-tertiary);
  }
  .popoutInfo-1A9dyK {
    background-color: var(--background-secondary);
    padding-top: 12px;
  }
  .divider-ewBQKj {
    display: none;
  }
}
