$role-pills: (
  ".rolesList-3uZoaa": ( // user popout
    main: ".role-2TIOKu",
    circle: ".roleCircle-1EgnFN",
  ),
  ".userInfoSection-2u2hir.colorStandard-21JIj7 > .wrap-7NZuTn": ( // user modal (userdetails by strencher)
    main: ".role-2TIOKu",
    circle: ".roleCircle-1EgnFN",
  ),
  ".members-1CYCy_": ( // locked channel
    main: ".role-23oyrw",
    circle: ".roleColor-3cA0as",
  ),
  ".roleWrapper-1Hde_V > .flex-3BkGQD": ( // member server settings
    main: ".role-2TIOKu",
    circle: ".roleCircle-1EgnFN"
  ),
  ".rolesWrapper-1LLZrU": ( // server template
    main: ".role-2mCo-N",
    circle: ".roleCircle-1ER2zO",
  ),
);
@each $role-wrapper, $role in $role-pills {
  $role-main: map-get($role, main);
  $role-circle: map-get($role, circle);
  #{$role-wrapper} {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
    #{$role-main} {
      position: relative;
      isolation: isolate;
      overflow: hidden;
      margin: 0;
      padding: {
        block: 4px;
        inline: 6px;
        right: 8px;
      }
      border: {
        radius: 100vmax;
        width: 0;
      }
      color: white;
      background-color: unset;
    }
    [class*="name" i] { // i love this
      margin: 0;
      color: inherit;
    }
    #{$role-circle} {
      width: 12px;
      height: unset;
      aspect-ratio: 1;
      margin: 0;
      margin-right: 4px;
      filter: none;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: var(--role-opacity);
        background-color: inherit;
        filter: css-function(saturate, var(--saturation-factor, 1));
      }
    }
  }
}
.addButton-1_dZYu {
  padding: 4px;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.35;
    background-color: hsl(0 0% 100% / var(--role-opacity));
  }
}
.roleRemoveIcon-387wKV {
  width: 8px;
  height: unset;
  aspect-ratio: 1;
  cursor: pointer;
}
