$role-pills: (
  ".rolesList-1geHY1": ( // user popout
    main: ".role-2irmRk",
    circle: ".roleCircle-3xAZ1j",
  ),
  ".userInfoSection-q_35fn.colorStandard-2KCXvj > .wrap-ZIn9Iy": ( // user modal (userdetails by strencher)
    main: ".role-2irmRk",
    circle: ".roleCircle-3xAZ1j",
  ),
  ".members-2iaVuN": ( // locked channel
    main: ".role-1P70N6",
    circle: ".roleColor-fHISxl",
  ),
  ".roleWrapper-1Hde_V > .flex-1O1GKY": ( // Member server settings
    main: ".role-2irmRk",
    circle: ".roleCircle-3xAZ1j"
  ),
  ".rolesWrapper-2yOx9S": ( // server template
    main: ".role-3paDXR",
    circle: ".roleCircle-3DE8xJ",
  ),
);
@each $role-wrapper, $role in $role-pills {
  $role-main: map-get($role, main);
  $role-circle: map-get($role, circle);
  #{$role-wrapper} {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
    #{$role-main} {
      position: relative;
      isolation: isolate;
      overflow: hidden;
      margin: 0;
      padding: {
        block: 4px;
        inline: 6px;
        right: 8px;
      }
      border: {
        radius: 100vw;
        width: 0;
      }
      color: white;
      background-color: unset;
    }
    [class*="name" i] { // i love this
      margin: 0;
      color: inherit;
    }
    #{$role-circle} {
      width: 12px;
      height: unset;
      aspect-ratio: 1;
      margin: 0;
      margin-right: 4px;
      filter: none;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: var(--role-opacity);
        background-color: inherit;
        filter: css-function(saturate, var(--saturation-factor, 1));
      }
    }
    .addButton-pcyyf6 {
      padding: 4px;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.35;
        background-color: hsl(0 0% 100% / var(--role-opacity));
      }
    }
  }
}
.roleRemoveIcon-2-TeGW {
  width: 8px;
  height: unset;
  aspect-ratio: 1;
  cursor: pointer;
}
