$columns: 2;
.horizontal-3fI3M- {
  //* User popout & voice chat popout
  .activityUserPopout-2yItg2 > &,
  .activityVoiceChannel-OPU-Fm + & {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 8px;
    .buttonSize-AQY2mE {
      margin: 0;
      max-width: unset;
      min-width: 32px;
    }
  }
  //* User modal
  [aria-label="User profile modal"] .activityProfile-2bJRaP & {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 8px;
    .buttonSize-AQY2mE {
      margin: 0;
      width: 100%;
      max-width: unset;
      min-width: 32px;
    }
    .contentImagesProfile-1Mz07W.content-3JfFJh { // fix or something idk
      width: 0;
    }
  }
  //* Main
  .fullWidth-1orjjo {
    &:only-child {
      grid-column: span $columns;
    }
    &:not(:only-child) {
      font-size: 0;
      padding: 0;
      .spotifyButtonLogo-3uT57D {
        margin: 0;
        width: 18px;
        height: 18px;
      }
      &:not(.disabledButtonWrapper-3wH6-b):hover {
        @include tooltip($content: "Listen on Spotify");
      }
    }
  }
}
