//? OSX buttons
@if $use-osx-buttons >= 1 {
  .typeWindows-1za-n7.titleBar-AC4pGV {
    height: 14px;
    padding-top: 4px;
    > div:not(.wordmark-2iDDfm) {
      top: -8px;
    }
    .winButton-iRh8-Z {
      pointer-events: none;
      margin-left: -2px;
      background-color: transparent;
      > svg {
        display: none;
      }
      &::after {
        content: "";
        padding: 7px;
        border-radius: 50%;
        pointer-events: auto;
      }
    }
  }
  .winButtonClose-1HsbF- {
    &::after {
      background-color: #ff605c;
    }
    &:hover::after {
      background-color: #ff605c80;
    }
  }
  .winButtonMinMax-PBQ2gm[aria-label="Maximize"],
  .winButtonMinMax-PBQ2gm[aria-label="Maximise"] {
    &::after {
      background-color: #ffbd44;
    }
    &:hover::after {
      background-color: #ffbd4480;
    }
  }
  .winButtonMinMax-PBQ2gm[aria-label="Minimize"],
  .winButtonMinMax-PBQ2gm[aria-label="Minimise"] {
    &::after {
      background-color: #00ca4e;
    }
    &:hover::after {
      background-color: #00ca4e80;
    }
  }
}

//? Replace Discord watermark text
@if $use-custom-wordmark >= 1 {
  .wordmark-2iDDfm {
    svg {
      display: none;
    }
    &::after {
      content: "#{$custom-wordmark-text}";
      position: absolute;
      top: 4px;
      font-family: "Discord";
      font-size: 15px;
    }
  }
}

//? Settings devider
.item-PXvHYJ[data-item-id="pc-updater"] {
  align-items: unset !important;
  margin-bottom: 3.65em;
  overflow: visible;
  &::after {
    content: "Plugin Settings";
    position: absolute;
    pointer-events: none;
    width: 89.5%;
    margin-top: 3.19em;
    line-height: 3em;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid var(--background-modifier-accent);
    color: rgb(159, 159, 159);
  }
}

//? Better poped out QuickCSS
.powercord-quickcss {
  border-radius: 5px;
  border: 1px solid var(--background-tertiary);
  &.popped-out {
    overflow: hidden;
    border: 1px solid var(--background-tertiary);
    background: var(--background-secondary)
      url("/assets/5ac53bbce4bc51dd14d5413bd7d1c77d.svg") no-repeat 50% 35% /
      30%;
  }
}
.powercord-entities-manage-tabs {
  border: 1px solid var(--background-tertiary);
}
.powercord-quickcss-popped {
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
.powercord-quickcss-popped {
  width: 360px;
  &::after {
    content: ".";
  }
}

//? Colored permissions in settings
.deny-3nAuT6 {
  color: #f04747;
  &:hover {
    background: #f04747 !important;
    color: white;
  }
  &.selected-2YhbGh {
    background: #f04747 !important;
    &:hover {
      background: #ff6660 !important;
    }
  }
}
.passthrough-1c2ewQ {
  color: #faa61a;
  &:hover {
    background: #faa61a !important;
    color: white;
  }
  &.selected-2YhbGh {
    background: #faa61a !important;
    &:hover {
      background: #ffc23d !important;
    }
  }
}
.allow-1PzSY3 {
  color: #43b581;
  &:hover {
    background: #43b581 !important;
    color: white;
  }
  .selected-2YhbGh {
    background: #43b581 !important;
    &:hover {
      background: #61d09a !important;
    }
  }
}

//? Different color for different messages events
$replying-side: rgba(2, 183, 87, 0.9);
$replying-default: rgba(2, 183, 87, 0.05);
$replying-hover: rgba(2, 183, 87, 0.08);
$local-bot-side: rgba(114, 137, 218, 0.9);
$local-bot-default: rgba(114, 137, 218, 0.05);
$local-bot-hover: rgba(114, 137, 218, 0.08);
$mentioned-side: rgba(250, 168, 25, 0.9);
$mentioned-default: rgba(250, 168, 25, 0.05);
$mentioned-hover: rgba(250, 168, 25, 0.08);
#app-mount .message-2qnXI6 {
  &.mentioned-xhSam7 {
    background-color: $mentioned-default;
    &::before {
      background-color: $mentioned-side;
    }
    &:hover {
      background-color: $mentioned-hover;
    }
  }
  &.replying-1x3H0T {
    background-color: $replying-default;
    &::before {
      background-color: $replying-side;
    }
    &:hover {
      background-color: $replying-hover;
    }
  }
  &.wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T) {
    background-color: $local-bot-default;
    &::before {
      background-color: $local-bot-side;
    }
    &:hover {
      background-color: $local-bot-hover;
    }
  }
  &:hover {
    transition: 0.75s;
  }
}

//? No dash in channel names (font changes a bit, can't get it to be any better)
@if $no-dashes >= 1 {
  [aria-label$=" (text channel)"] .channelName-2YrOjO, [aria-label$=" (announcement channel)"] .channelName-2YrOjO, // channel list
  [aria-label="Channel header"] .title-29uC1r, // channel headers
  .content-3YMskv .emptyChannelIcon-cc932w ~ .size32-o_H79z, // header at the start of channels
  .channelTextArea-rNsIhG .placeholder-37qJjk, // text area placeholder
  .wrapper-3WhCwL.mention:not(.iconMention-1t7gB7):not(.iconMention-O5BG9X):not([aria-label]), // mentions
  #search-results .resultChannel-3BYgHX, // search
  .iconSizeLarge-161qtT + .channelContainer-1x3D6I .channelName-2HcGlq, // following an announcement channel
  .inviteSettingsInviteRow-3p2O-N .user-3x-NP9 + .size12-3cLvbJ, // invite settings
  .welcomeChannel-1rFrIO .size12-3cLvbJ, // welcome screen settings 
  [data-list-item-id^="audit-log__"] strong, // audit log items
  .quickswitcher-3JagVE .match-38WbBN { // quick switcher
    font-family: "no dash", var(--font-primary);
  }
}

