//? Notes
.rolesList-1geHY1 { // popout
  ~ div[class]:not(#permissions-popout),
  ~ h3 {
    display: none;
  }
}
.bodyInnerWrapper-26fQXj {
  margin-bottom: -4px;
  > h3:last-of-type,
  .note-1oo11U {
    display: none;
  }
}
.userInfoSection-q_35fn { // modal
  > h3:last-of-type,
  .note-367eZJ {
    display: none;
  }
}

//? Stickers & "Get X more matching emojis with Nitro" in suggestions
.autocompleteRowVertical-q1K4ky .upsell-1vK3zR {
  display: none;
}
.emojiStickersDivider-3Q5Opa {
  ~ .autocompleteRowVertical-q1K4ky,
  & {
    display: none;
  }
}

//? Invite to server context menu button
#user-context-invite-to-server {
  display: none;
}

//? GIF, sticker and gift icons
[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"] {
  display: none;
}

//? Selection of certain text
.timestamp-3ZCmNB, .bot-tag-tooltip, .botTagCozy-1fFsZk, .vpc-shiki-lang, .powercord-spotify .nameTag-3uD-yy > div { // this is pain and im not bothered to "rewrite" it, it works fine
  user-select: none;
}

//? "Set a server nickname" thing
.setIdentityLink-1t8Ahd {
  display: none;
}

//? Member list button
[aria-label="Member List"].selected-1GqIat {
  display: none;
}

//? Help button
a[href="https://support.discord.com"] {
  display: none;
}
