.message-2qnXI6 {
  .container-1ov-mD {
    display: flex;
    flex-wrap: wrap;

    &:empty {
      display: none;
    }

    > * {
      margin: 0 0.25em 0.25em 0;

      &:last-child {
        margin: 0 0.25em 0 0;
      }
    }

    .wrapper-35wsBm,
    .embedSpotify-tvxDCr {
      order: 1;
    }

    .spine-5jbOmI.cozy-XCy5h_ + .container-3hZ-gs,
    .reactions-12N0jA,
    .container-2nXavw {
      margin-right: 100%;
      min-width: auto;
      order: 500;
    }

    .systemMessageContainer-2ddkN3 {
      &:not(:nth-child(2)) {
        margin-top: -0.75em;
      }
    }
    .spine-5jbOmI.cozy-XCy5h_ {
      width: 28px;
      bottom: 28px;
      top: 4px;
      left: -34px;
      margin: 0;
      display: block;
    }
  }
  &.hasThread-2k82W0::after {
    content: unset;
  }
}
