// this is pretty janky and bad, i have no idea how grid works
#stage-discovery-tab {
  + .nowPlayingSidebar-2OFn0o {
    display: none;
  }
  .headerContainer-1Wluzl {
    grid-column: span $stage-discovery-rows;
    max-width: unset;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    > div {
      padding: 1.9rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .container-24CyRY[dir="ltr"] {
    display: grid;
    grid-template-columns: repeat($stage-discovery-rows, 1fr);
    grid-template-rows: repeat(100, 0fr);
    $gap: 6px;
    gap: $gap;
    padding: 0 $gap !important;
    .container-S9SaVf {
      max-width: unset;
      width: 100%;
      height: 160px;
      margin: 0;
      border: none;
      .topicText-2H6hYP {
        -webkit-line-clamp: 1;
      }
      .grid-3fdl0Y {
        grid-template-rows: repeat(2, 1fr);
      }
      .textInGridContainer-XBWCa-,
      .textInGrid-1ba1AD {
        max-width: unset;
      }
    }
    .container-1WCE6w {
      grid-column: span $stage-discovery-rows;
      margin: 0;
      padding: 16px 0 28px;
    }
  }
}
