@if $use-better-sidebar {
  .privateChannels-1nO12o {
    $gap: 8px;
    .content-3YMskv {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      column-gap: $gap;
    }
    .channel-2QD9_O,
    div[style="height: 8px;"]:not([class]),
    h2 {
      flex-basis: 100%;
    }
    .channel-2QD9_O {
      width: 0;
      max-width: unset;
      &:not([aria-label]) {
        display: flex;
        justify-content: center;
        flex: 1;
        flex-basis: unset;
        margin: 0;
        &:first-of-type {
          margin-left: $gap;
        }
        .layout-2DM8Md {
          flex-grow: 1;
          justify-content: center;
        }

        .children-gzQq2t { // friend req circle
          justify-self: center;
          position: absolute;
          z-index: 1;
          margin-right: -16px;
          bottom: 8px;
          &::before,
          &::after {
            content: "";
            position: absolute;
            z-index: -1;
            inset: -2px;
            border-radius: 50%;
          }
          &::before {
            background-color: var(--background-secondary);
          }
        }
        &:hover .layout-2DM8Md .children-gzQq2t::after {
          background-color: var(--background-modifier-hover);
        }
        &:active .layout-2DM8Md .children-gzQq2t::after {
          background-color: var(--background-modifier-active);
        }
        &.selected-aXhQR6 .layout-2DM8Md .children-gzQq2t::after {
          background-color: var(--background-modifier-selected);
        }

        .avatar-3uk_u9 {
          margin-right: 0;
        }
        .content-3QAtGj {
          display: none;
        }
        &:hover {
          @include tooltip($content: attr(href), $pos: bottom);
        }
      }
    }
  }

  $tooltip-content: (
    "Friends": "channels/@me",
    "Stage Discovery": "discovery",
    "Library": "library",
    "Nitro": "store",
  );
  @each $name, $selector in $tooltip-content {
    #app-mount .privateChannels-1nO12o .channel-2QD9_O[href="/#{$selector}"]:hover::before {
      content: $name;
    }
  }
}

//? No dash
@if $use_no_dash {
  .containerDefault--pIXnN > .wrapper-2jXpOf:not(.typeThread-3ESTm-) .channelName-2YrOjO, // channel list
  [aria-label="Channel header"] .title-29uC1r, // channel headers
  .content-3YMskv .emptyChannelIcon-cc932w ~ .size32-o_H79z, // header at the start of channels
  .wrapper-3WhCwL.mention:not(.iconMention-1t7gB7):not(.iconMention-O5BG9X):not([aria-label]):not(.roleMention-2Bj0ju), // mentions
  .channelTextArea-rNsIhG .placeholder-37qJjk, // text area placeholder
  #search-results .resultChannel-3BYgHX, // search
  [id^="ian"].powercord-toast .lookOutlined-3sRXeN.colorBrand-3pXr91 .flexChild-faoVW3, // In App Notifications button
  .iconSizeLarge-161qtT + .channelContainer-1x3D6I .channelName-2HcGlq, // following an announcement channel
  .inviteSettingsInviteRow-3p2O-N .user-3x-NP9 + .size12-3cLvbJ, // invite settings
  .welcomeChannel-1rFrIO .size12-3cLvbJ, // welcome screen settings
  [data-list-item-id^="audit-log__"] strong { // audit log items
    font-family: "no dash", var(--font-primary);
  }
}
