.wordmark-2iDDfm {
  padding: 5px 6px 0;
  svg {
    display: none;
  }
  &::after {
    content: "#{$custom-wordmark-text}";
    font-family: "Discord";
    font-size: 14px;
    font-weight: 400;
  }
}
