.message-2qnXI6 {
  .container-1ov-mD {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;

    &:empty {
      display: none;
    }

    > div {
      margin: 0;
    }

    .wrapper-35wsBm,
    .embedSpotify-tvxDCr {
      order: 1;
    }

    .ephemeralMessage-1fEWtQ, // "Only you can see this" on local messages
    .reactions-12N0jA, // reactions
    .container-2nXavw { // "Share with your followers" container on announcement channels
      flex: 1 0 100%;
      order: 500;
    }
    .spine-5jbOmI + .container-3hZ-gs { // threads
      margin-right: clamp(80%, 85%, 100%);
      min-width: auto;
      order: 550;
    }
    .spine-5jbOmI.cozy-XCy5h_ {
      display: block;
      width: 28px;
      bottom: 28px;
      top: 4px;
      left: -34px;
    }
  }
  &.hasThread-2k82W0:after {
    border: none;
    width: unset !important;
  }
}
