.message-2qnXI6 {
  .container-1ov-mD {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;

    &:empty {
      display: none;
    }

    > div {
      margin: 0;
    }

    .wrapper-35wsBm,
    .embedSpotify-tvxDCr {
      order: 1;
    }

    .reactions-12N0jA, // reactions
    .container-2nXavw { // "Share with your followers" container on announcement channels
      flex: 1 0 100%;
      order: 500;
    }
    .spine-5jbOmI.cozy-XCy5h_ + .container-3hZ-gs { // threads
      margin-right: clamp(80%, 85%, 100%);
      min-width: auto;
      order: 550;
    }

    .systemMessageContainer-2ddkN3 {
      &:not(:nth-child(2)) {
        margin-top: -0.5em;
      }
    }
  }
}
