.containerDefault--pIXnN > .wrapper-2jXpOf:not(.typeThread-3ESTm-) .channelName-2YrOjO, // channel list
[aria-label="Channel header"] .title-29uC1r, // channel headers
.content-3YMskv .emptyChannelIcon-cc932w ~ .size32-o_H79z, // header at the start of channels
.wrapper-3WhCwL.mention:not(.iconMention-1t7gB7):not(.iconMention-O5BG9X):not([aria-label]):not(.roleMention-2Bj0ju), // mentions
.channelTextArea-rNsIhG .placeholder-37qJjk, // text area placeholder
#search-results .resultChannel-3BYgHX, // search
[id^="ian"].powercord-toast .lookOutlined-3sRXeN.colorBrand-3pXr91 .flexChild-faoVW3, // In App Notifications button
.iconSizeLarge-161qtT + .channelContainer-1x3D6I .channelName-2HcGlq, // following an announcement channel
.inviteSettingsInviteRow-3p2O-N .user-3x-NP9 + .size12-3cLvbJ, // invite settings
.welcomeChannel-1rFrIO .size12-3cLvbJ, // welcome screen settings 
[data-list-item-id^="audit-log__"] strong { // audit log items
  font-family: "no dash", var(--font-primary);
}
