//? Server sidebar color
.guilds-1SWlCJ .scrollerBase-289Jih,
.bg-h5JY_x, // titlebar
.notice-3bPHh-.colorDark-1yVQpk { // "Enhance your Discord experience!"
  background-color: var(--background-secondary);
}
#app-mount .navigationBar-2JJXBp {
  background-color: var(--background-secondary-alt);
}
.notice-3bPHh- {
  box-shadow: unset;
}

.guilds-1SWlCJ {
  //? Server folder color
  .expandedFolderBackground-3ZDF05,
  .folderIconWrapper-1Ml_1q {
    background-color: var(--background-tertiary) !important;
    transition: background-color 0.3s;
  }

  //? Expanded folder background width
  .wrapper-shyHJt {
    display: grid;
    place-items: center;
    .expandedFolderBackground-3ZDF05 {
      width: 42px;
      left: unset;
    }
  }

  //? Make dragging a server over another server/folder
  .listItem-2Ig28I {
    .dragOver-Iim8_W.centerTarget-1vR_1- {
      &::before {
        content: unset;
      }
    }
    .wobble-35H26H {
      position: relative;
      isolation: isolate;
      border-radius: 18px;
      box-shadow: 0 0 0 3px var(--qs-col-green);
    }
  }

  //? Blurple discovery and add server buttons
  .circleIconButton-hZmpE8 {
    color: var(--brand-experiment);
    &.selected-3mFF3I {
      background-color: currentColor;
      svg {
        color: white;
      }
    }
  }
}
