//? Server sidebar color
.guilds-2JjMmN .scrollerBase-_bVAAt,
.bg-1QIAus, // titlebar
.notice-2HEN-u.colorDark-17ICom { // "Enhance your Discord experience!"
  background-color: var(--background-secondary);
}
#app-mount .navigationBar-2Z_P4D {
  background-color: var(--background-secondary-alt);
}
.notice-2HEN-u {
  box-shadow: unset;
}

.guilds-2JjMmN {
  //? Server folder color
  .expandedFolderBackground-1kSAf6,
  .folderIconWrapper-1oRIZr {
    background-color: var(--background-tertiary) !important;
    transition: background-color 0.3s;
  }

  //? Expanded folder background width
  .wrapper-38slSD {
    display: grid;
    place-items: center;
    .expandedFolderBackground-1kSAf6 {
      width: 42px;
      left: unset;
    }
  }

  //? Make dragging a server over another server/folder
  .listItem-3SmSlK {
    .dragOver-1OKbo2.centerTarget-S6BLFQ {
      &::before {
        content: unset;
      }
    }
    .wobble-18SYQm {
      position: relative;
      isolation: isolate;
      border-radius: 18px;
      box-shadow: 0 0 0 3px var(--qs-col-green);
    }
  }

  //? Blurple discovery and add server buttons
  .circleIconButton-1VxDrg {
    color: var(--brand-experiment);
    &.selected-2r1Hvo {
      background-color: currentColor;
      svg {
        color: white;
      }
    }
  }
}
