.message-2qnXI6 {
  .container-1ov-mD {
    display: flex;
    flex-wrap: wrap;

    &:empty {
      display: none;
    }

    > * {
      margin: 0 .25em .25em 0;

      &:last-child {
        margin: 0 .25em 0 0;
      }
    }

    .wrapper-35wsBm,
    .embedSpotify-tvxDCr {
      order: 1;
    }
    .reactions-12N0jA,
    .container-2nXavw {
      flex: 1 0 100%;
      order: 500;
    }
    .systemMessageContainer-2ddkN3:not(:nth-child(2)) {
      margin-top: -.75em;
      order: 550;
    }
  }
}
