.peopleColumn-29fq28[role="tabpanel"] > .peopleList-3c4jOR {
  > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    $gap: 6px;
    gap: $gap;
    padding: 0 $gap;
  }
  .title-30qZAO {
    margin: 8px 0;
    grid-column: span 5;
    text-align: center;
  }
  .peopleListItem-2nzedh {
    height: unset !important;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background-secondary-alt);
  }
}
