//* User popout
.userPopout-xaxa6l { // settings page popout
  //? Main color changes
  &,
  > div,
  .bodyInnerWrapper-26fQXj {
    background-color: var(--background-secondary);
  }
  .headerTop-3vNv-a,
  .customStatus-oN4ZZY {
    background-color: var(--background-tertiary);
  }
  .avatar-37jOim {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  //? Positioning and stuff
  .body-3HBlXn { // Main
    padding: 0 0 14px !important;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .headerTop-3vNv-a { // Header
    padding-bottom: 4px;
    &:not(.headerTopWithCustomStatus-1DHAjX) {
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    .headerTagWithNickname-3l_x6x {
      padding-bottom: 4px;
    }
  }
  .customStatus-oN4ZZY { // Custom status
    padding-bottom: 10px;
    .customStatusText-1vtUsN { // Make text actually go bellow emojis
      line-height: 20px;
    }
  }
  .activity-2INFPu:first-child { // Status
    margin-top: 8px;
  }
  .rolesList-1geHY1 { // Roles
    margin-top: -2px;
  }
  .bodyInnerWrapper-26fQXj { // BD version of User Details made by Strencher
    display: grid;
    .UserDetails-connections-connectionsBody {
      order: 1;
    }
    .UserDetails-connections-header,
    .UserDetails-connections-connections {
      margin-bottom: 0;
    }
    .UserDetails-connections-header {
      margin-top: 12px;
    }
  }
  //? Remove the Dumb devider
  .divider-ewBQKj {
    display: none;
  }
  //? Make the cursor change when hovering over the connections on the BD version of UserDetails made by Strencher™️
  .UserDetails-connections-connections {
    cursor: pointer;
    //? Remove the Dumb checkmark on the BD version of UserDetails made by Strencher™️
    #app-mount & .UserDetails-badge-verifiedBadge {
      display: none;
    }
  }
  //? Activity
  .activity-2INFPu {
    margin: 0 0 12px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: var(--elevation-high);
    background-color: var(--background-primary);
    .content-3JfFJh {
      width: 0; // this is actually such a retarded fix, but it works
    }
    .assetsLargeImage-eYwpTX {
      border-radius: 4px;
    }
  }
}

//* Settings tab user popout
.profileBannerPreview-3_l0Wd {
  //? Main color changes
  &,
  .popoutInfo-pKbpvG {
    background-color: var(--background-secondary)
  }
  .headerTop-3vNv-a,
  .customStatus-oN4ZZY {
    background-color: var(--background-tertiary);
  }
  .avatarUploaderInner-Oiob_P {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  //? Positioning and stuff
  .popoutInfo-pKbpvG { // Main
    padding: 0 0 14px !important;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .headerTop-3vNv-a { // Header
    padding-bottom: 4px;
    &:not(.headerTopWithCustomStatus-1DHAjX) {
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    .headerTagUsernameBase-1NqrY5 {
      padding-bottom: 4px;
    }
  }
  .customStatus-oN4ZZY { // Custom status
    padding-bottom: 8px;
  }
  //? Remove the Dumb divider
  .divider-ewBQKj {
    display: none;
  }
  //? Activity
  div[aria-hidden="true"]:last-child {
    margin: 0 16px 4px;
    padding: 8px;
    width: auto;
    border-radius: 4px;
    box-shadow: var(--elevation-high);
    background-color: var(--background-primary);
    .assetsLargeImage-eYwpTX {
      border-radius: 4px;
    }
  }
}

//* User Modal
[aria-label="User Profile Modal"] {
  //? Main color changes
  > div[style],
  .body-r6_QPy {
    background-color: var(--background-secondary);
  }
  .topSection-y3p-_D {
    background-color: var(--background-tertiary);
  }
  .avatar-AvHqJA {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  //? Positioning and stuff
  .nameTagWithCustomStatus-2kkfrQ {
    padding-bottom: 6px;
  }
  .customStatusActivity-nmH3DF {
    padding: 0 16px 4px;
  }
  //? Activity
  .activityProfile-2bJRaP { // Activity posiitioning
    margin: 6px 8px 0;
    padding: 0 8px 4px;
    + .activityProfile-2bJRaP { // Activity seperator
      padding-top: 16px;
      border-top: 1px solid hsla(0, 0%, 90%, 0.1);
    }
    &:nth-last-child(2) { // More scroll space at the bottom
      padding-bottom: 10px;
    }
    //? Buttons
    .body-ZAhrcj { // Make buttons able to go bellow the activity
      flex-wrap: wrap;
      .buttonSize-AQY2mE:only-of-type { // 1 button
        flex: 1 0 100%;
        width: 100%;
        margin: 0;
        margin-top: 2px;
        margin-bottom: 4px;
      }
      .buttonsWrapper-2spIeK { // Multiple buttons
        width: 100%;
        margin: 0;
        margin-top: 4px;
        &.horizontal-3fI3M- {
          margin-top: 8px;
        }
        .buttonSize-AQY2mE {
          width: 100%;
          max-width: unset;
          &:nth-last-child(2):not(.horizontal-3fI3M- button) {
            margin-top: 8px;
          }
        }
      }
    }
  }
  //? Fix padding when looking on your own profile
  header:last-child {
    padding-bottom: 16px;
  }
}

//* Settings tab user "modal"
.accountProfileCard-1XCH88 {
  background-color: var(--background-secondary);
  .userInfo-iCloHO {
    height: unset;
    padding-bottom: 40px;
    background-color: var(--background-tertiary);
  }
  .avatar-1uQSZT {
    border-color: var(--background-tertiary);
    background-color: var(--background-tertiary);
  }
}

//* Yeah
.userPopout-xaxa6l, .profileBannerPreview-3_l0Wd,
[aria-label="User Profile Modal"], .accountProfileCard-1XCH88 {
  //? Buttons
  .button-38aScr:not(.lookLink-9FtZy-),
  .button-38aScr:disabled {
    border: none;
    color: #fff;
    background-color: #4f545c;
    &:hover {
      background-color: #474c53;
    }
  }
  //? Badges
  [aria-label="User Badges"] {
    top: 8px;
    gap: 3px;
    > div {
      margin: unset;
    }
    div,
    img:not([alt="Custom badge"]) {
      height: 28px;
      width: 28px;
    }
  }
  //? Smaller discrim
  .discrimBase-24vY8o, // popout
  .discriminator-1swucG { // modal
    font-size: 14px;
    color: var(--header-secondary);
    vertical-align: bottom;
  }
  //? Imrpove the spotify icon positioning
  #app-mount & .spotifyIcon-2J9kSv {
    top: 12px;
    right: 12px;
  }
  //? Make the about me section not get limited less
  .aboutMeBody-3GuvKk,
  .userBio-3tlrzS {
    &.clamped-IwJfxR {
      -webkit-line-clamp: 10;
    }
  }
  //? Activity text positioning
  .assets-VMAukC {
    margin-right: 8px
  }
  .gameIcon-_0rmMm {
    margin-right: 6px;
  }
  .content-3JfFJh { 
    margin-left: 0;
  }
}
