// TODO: rewrite this
//? Tooltip
@mixin tooltip($content: "", $pos: top) {
  @keyframes tooltipPop{from{opacity:.5;transform:scale(.9);}to{opacity:1;transform:scale(1);}}
  &::before,
  &::after {
    position: absolute;
    z-index: 2002;
    pointer-events: none;
  }
  &::before {
    content: $content;
    width: max-content;
    padding: 8px 12px;
    @if $pos == bottom {
      bottom: -87.5%;
    } @else {
      top: -140%;
    }
    border-radius: 5px;
    font-size: 14px;
    color: var(--text-normal);
    box-shadow: var(--elevation-high);
    background-color: var(--background-floating);
    animation: tooltipPop 60ms forwards;
    transform-origin: 50% 100%;
    @content
  }
  &::after {
    content: "";
    border: 5px solid transparent;
    @if $pos == bottom {
      bottom: -20%;
      border-bottom-color: var(--background-floating);
    } @else {
      top: -30%;
      border-top-color: var(--background-floating);
    }
    animation: tooltipPop 60ms forwards;
    transform-origin: 50% 100%;
  }
}

//? Ripple
@mixin ripple($color: inherit, $size: 5) {
  --ripple-col: #{$color};

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    opacity: 0;
    background-size: 100% * $size;
    background-image: radial-gradient(circle at calc(var(--clickX) + 50%) calc(var(--clickY) + 50%), var(--ripple-col) 25%, transparent 25.5%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 200ms cubic-bezier(0.05, 0.2, 0.45, 1),
                opacity 650ms cubic-bezier(0.05, 0.2, 0.45, 1);
  }
  &:not(:active)::after {
    transition: 0ms;
    opacity: 0.3;
    background-size: 0%;
  }
}
