.nowPlayingSidebar-2OFn0o,
.nowPlayingColumn-1eCBCN {
  > div {
    background-color: var(--background-secondary);
    .scroller-hE2gWq {
      border-left: none;
    }
    .itemCard-3Etziu {
      border: none;
      transition: background-color 0.3s;
      background-color: var(--background-secondary-alt);
      section {
        transition: background-color 0.3s;
        background-color: var(--background-secondary);
      }
      &:hover,
      &.active-1W_Gl9 {
        background-color: var(--background-tertiary) !important;
        section {
          background-color: var(--background-secondary-alt);
        }
      }
    }
  }
}
