//? Improve padding
.sidebar-CFHs9e {
  padding: {
    top: 36px;
    bottom: 48px;
    left: 12px;
  }
}

//? Settings divider
.item-PXvHYJ[data-item-id="pc-updater"] {
  align-items: unset !important;
  overflow: visible;
  margin-bottom: 47px;
  &::after {
    content: "Plugin Settings";
    position: absolute;
    pointer-events: none;
    margin-top: 42px;
    inset: 0 10px;
    line-height: 46px;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    text-transform: uppercase;
    border-top: 1px solid var(--background-modifier-accent);
    color: var(--channels-default);
  }
}

//? Colored permission buttons
$colored-permissions: (
  ".deny-3nAuT6": #f04747,
  ".passthrough-1c2ewQ": #faa61a,
  ".allow-1PzSY3": #43b581,
);
@each $class, $color in $colored-permissions {
  #app-mount {
    #{$class} {
      color: $color;
      &:hover {
        color: white;
        background-color: color.adjust($color, $lightness: 5%, $saturation: 2.5%) !important;
      }
      &.selected-2YhbGh {
        color: white;
        background-color: $color !important;
      }
    }
  }
}
