.layers-1YQhyW {
  .baseLayer-W6S8cY[style*="opacity"] {
    opacity: unset !important;
    transform: unset !important;
    &::after {
      content: "";
      position: fixed;
      inset: -100vw;
      z-index: 101;
      transition: opacity 125ms;
      opacity: 0.85;
      background-color: black;
    }
    @for $i from 6 through 8 { // this fucking sucks
      &[style*="scale(#{round($i * 100 / 8) / 100})"]::after { // this is lovely and very accurate to the actual values discord "uses"
        opacity: $i / 16;
      }
    }
  }
  .layer-86YKbF[aria-label] {
    isolation: isolate;
    inset: 6vw;
    padding-top: unset;
    z-index: 101;
    border-radius: 4px;
    .standardSidebarView-E9Pc3j {
      top: 0;
    }

    // reset some stuff
    .contentRegion-3HkfJJ {
      border-top-left-radius: 0;
    }
    .sidebarRegionScroller-FXiQOh {
      &::-webkit-scrollbar-track {
        margin-top: unset;
      }
    }

    .toolsContainer-25FL6V {
      position: absolute;
      all: unset;
    }
    .tools-kIrEGr {
      position: static;
      .keybind-13vtq8 {
        display: none;
      }
    }
    .closeButton-PCZcma {
      all: unset;
      position: fixed;
      inset: -100vw;
      z-index: -1;
      opacity: 0;
    }
  }
}
