// this is quite a mess
.sidebar-CFHs9e {
  --icon-size: 24px;
  width: calc(218px + var(--icon-size) / 2);
  .side-8zPYf6 {
    .item-PXvHYJ[aria-controls]:not([aria-label*="#"]) {
      isolation: isolate;
      padding-left: calc(8px + var(--icon-size) * 1.15);
      text-transform: capitalize;
      white-space: nowrap;
      color: var(--color, var(--interactive-normal));
      &:active,
      &.selected-3s45Ha {
        color: var(--interactive-active);
      }
      &.selected-3s45Ha {
        background-color: var(--color, var(--brand-experiment));
      }

      // remove the defualt backgrounds
      .background-CYva7T {
        z-index: -1;
      }
      &[aria-selected="false"] .background-CYva7T {
        display: none;
      }
      .premiumLabel-fDtYys {
        color: unset;
      }

      // icons
      &::before {
        content: "";
        position: absolute;
        inset: 0 8px;
        width: var(--icon-size);
        -webkit-mask: {
          image: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/unknown.svg?sanitize=true");
          position: center;
          repeat: no-repeat;
        }
        mask: {
          image: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/unknown.svg?sanitize=true");
          position: center;
          repeat: no-repeat;
        }
        background-color: currentColor;
      }
      .premiumLabel-fDtYys svg, // user settings
      .icon-3Povsy { // server settings
        display: none;
      }
    }
  }
}

$settings-icons: (
  USER_SETTINGS: (
    "my-account": (
      icon: "account",
    ),
    "profile-customization": (
      icon: "profile",
    ),
    "privacy-&-safety": (
      icon: "privacy",
    ),
    "authorized-apps": (
      icon: "apps",
    ),
    "connections": (
      icon: "connections",
    ),
    "discord-nitro": (
      icon: "nitro",
      color: var(--brand-experiment)
    ),
    "nitro-server-boost": (
      icon: "boost",
      color: var(--qs-pink)
    ),
    "subscriptions": (
      icon: "subscriptions",
      color: var(--qs-yellow)
    ),
    "library-inventory": (
      icon: "gift",
    ),
    "billing": (
      icon: "billing",
    ),
    "appearance": (
      icon: "appearance",
    ),
    "accessibility": (
      icon: "accessibility",
    ),
    "voice-&-video": (
      icon: "voice-and-video",
    ),
    "text-&-images": (
      icon: "text-and-images",
    ),
    "notifications": (
      icon: "notifications",
    ),
    "keybinds": (
      icon: "keybinds",
    ),
    "language": (
      icon: "language",
    ),
    "windows": (
      icon: "windows-settings",
    ),
    "streamer-mode": (
      icon: "streamer-mode",
    ),
    "advanced": (
      icon: "advanced",
    ),
    "game-activity": (
      icon: "activity-status",
    ),
    "overlay": (
      icon: "game-overlay",
    ),
    "pc-general": (
      icon: "settings",
    ),
    "pc-modulemanager-plugins": (
      icon: "plugins",
    ),
    "pc-modulemanager-themes": (
      icon: "themes",
    ),
    "pc-updater": (
      icon: "updater",
    ),
    "bdcompat": (
      icon: "betterdiscord",
    ),
    "discord-tweaks": (
      icon: "discord-tweaks",
    ),
    "pc-spotify": (
      icon: "spotify",
      color: var(--spotify-color)
    ),
    "cumcord_plugins": (
      icon: "plugins",
    ),
    "changelog": (
      icon: "changelog",
    ),
    "hypesquad-online": (
      icon: "hypesquad",
      color: var(--qs-hypesquad-yellow)
    ),
    "experiments": (
      icon: "experiments",
      color: var(--qs-green)
    ),
    "developer-options": (
      icon: "developer-options",
    ),
    "hotspot-options": (
      icon: "hotspot-options",
    ),
    "logout": (
      icon: "logout",
      color: var(--qs-red)
    ),
  ),
  GUILD_SETTINGS: (
    "overview": (
      icon: "overview",
    ),
    "roles": (
      icon: "roles",
    ),
    "emoji": (
      icon: "emoji",
    ),
    "stickers": (
      icon: "stickers",
    ),
    "moderation": (
      icon: "moderation",
    ),
    "audit_log": (
      icon: "audit-log",
    ),
    "integrations": (
      icon: "integrations",
    ),
    "widget": (
      icon: "apps",
    ),
    "guild_templates": (
      icon: "server-template",
    ),
    "community": (
      icon: "community",
    ),
    "analytics": (
      icon: "server-insights",
    ),
    "partner": (
      icon: "partner",
    ),
    "discovery": (
      icon: "discovery",
    ),
    "member_verification": (
      icon: "membership-screening",
    ),
    "community_welcome": (
      icon: "welcome-screen",
    ),
    "guild_premium": (
      icon: "boost",
      color: var(--qs-pink)
    ),
    "members": (
      icon: "members",
    ),
    "instant_invites": (
      icon: "invites",
      color: var(--brand-experiment-360)
    ),
    "bans": (
      icon: "bans",
    ),
    "delete": (
      icon: "delete",
      color: var(--qs-red)
    ),
  ),
  CHANNEL_SETTINGS: (
    "overview": (
      icon: "overview",
    ),
    "permissions": (
      icon: "roles",
    ),
    "instant_invites": (
      icon: "invites",
      color: var(--brand-experiment)
    ),
    "integrations": (
      icon: "integrations",
    ),
    "delete": (
      icon: "delete",
      color: var(--qs-red)
    ),
  ),
  RTC_DEBUG: (
    "outbound": (
      icon: "outbound",
    ),
    "transport": (
      icon: "transport",
    ),
  ),
);
@each $category, $icons in $settings-icons {
  @each $tab, $icon in $icons {
    $color: map-get($icon, color);
    $color: var(--color, var(--interactive-normal)) !default;
    #app-mount [aria-label="#{$category}"] .sidebar-CFHs9e {
      #{if($category=="RTC_DEBUG",
        "[aria-controls*=\"#{$tab}\"]", // RTC_DEBUG
        "[aria-controls=\"#{$tab}-tab\"]" // main
      )} {
        --color: #{$color};
        &::before {
          -webkit-mask-image: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/#{map-get($icon, icon)}.svg?sanitize=true");
          mask-image: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/#{map-get($icon, icon)}.svg?sanitize=true");
        }
      }
    }
  }
}
