.contentRegion-3nDuYy {
  flex-basis: 100%; // make the sidebar take up as little space as possible
  .contentColumn-2hrIYH, .customColumn-Rb6toI, // make the actual content take up everything else
  .customScroller-26gWhv > div, // various different menus
  .descriptionWrapper-1GiGtP, // welcome screen description
  .noticeRegion-1YviSH, // "Careful - you have unsaved changes!" bar
  .contentWidth-xLB44s, // edit role tab
  [style="opacity: 1;"] .sidebarScrollable-1qPI87 + .content-1rPSz4 { // channel permissions
    max-width: unset;
  }
  .customScroller-26gWhv > div {
    margin-inline: 40px;
  }

  // user profile
  .baseLayout-NX_bpH > div:not([class]) {
    flex-grow: 1;
  }

  // video preview
  .userSettingsVoice-iwdUCU {
    .marginBottom40-2vIwTv + div:not([class]):not(:last-of-type) {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 12px;
      > :where(div:not(.divider-3573oO, .selector-3qI8sT)), > h3 { // :where() for lower specificity
        margin: 0;
      }
      h1, .divider-3573oO {
        grid-column: 1/-1;
      }
      .selector-3qI8sT {
        margin-top: 8px;
        margin-bottom: 20px;
      }
      .previewToggle-1Ertm9 {
        grid-row: 4; // this sucks
        margin-bottom: 20px;
      }
      .backgroundOptions-2NdDN_ {
        margin-top: 8px;
      }
      .backgroundImageOption-127aO7 {
        transform: unset !important;
      }
      [aria-label]:not([class]):hover { //broken background option
        box-shadow: var(--elevation-medium);
      }
      // make the camera be on the side
      .cameraWrapper-2n3EKe {
        grid-column: 2;
        grid-row: 2/10;
        place-self: center;
        margin-left: 20px;
        aspect-ratio: 16/9;
      }
      .media-engine-video {
        width: unset !important;
        height: unset !important;
      }
    }
  }

  // make the color picker take up as much space as possible
  .bsi-settings-tab-bar ~ .flex-1xMQg5 {
    [style="flex: 1 1 70%;"] {
      flex-basis: 100% !important;
    }
  }

  // make tweaks take up as much space as possible
  .discordTweaksSettings {
    display: grid;
    .tweaks .tweakCard {
      width: 100%;
    }
  }

  // hypesquad video
  .features-2npk2D {
    margin-inline: auto;
    width: 50%;
  }

  // server icon
  .children-rWhLdy {
    .horizontal-1ae9ci[style="flex: 1 1 50%;"] {
      flex-basis: unset !important;
      flex-grow: 0 !important;
      [style="flex: 1 1 auto; max-width: 180px;"] {
        display: none;
      }
    }
  }

  // server invite and banner background
  [style="flex: 1 1 auto;"] .alignStart-H-X2h-.noWrap-3jynv6[style="flex: 1 1 50%;"] {
    + [style="flex: 1 1 50%;"] {
      flex-basis: unset !important;
    }
  }

  // make role settings not as Dumb
  div:not([class]) {
    .rolesTable-3622Dd {
      .memberSpacing-1zJbKJ,
      .buttonsSpacing-3twfdv {
        display: none;
      }
    }
    ~ .roleRow-30TwGe {
      .roleNameSpacing-XtjbtV {
        flex-basis: 900%;
      }
      .memberSpacing-1zJbKJ {
        flex-basis: unset;
        justify-content: unset;
        margin-right: 52px;
      }
      .buttonsSpacing-3twfdv {
        flex-basis: unset;
      }
      .editButton-1V012_ {
        visibility: unset;
      }
    }
  }

  // make emoji settings not as Dumb
  h5.marginBottom20-32qID7 + .marginBottom40-2vIwTv {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    .flex-1O1GKY.horizontal-1ae9ci {
      display: grid;
      column-gap: 8px;
      grid-column: 1/-1;
      grid-template-columns: inherit;
      > div {
        margin: 0;
      }
    }
    .emojiUploader-1f0pVx {
      display: flex;
      gap: 8px;
    }
    .emojiRowText-2j4TNM {
      position: unset;
    }
  }

  // make the boost upsell not repeat on the stickers tab
  .upsellContainer-3UlEOE {
    background-size: cover;
  }

  // make the widget preview not be Huge
  [src="/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg"] {
    flex-basis: unset !important;
  }

  // make membership screening settings not be Dumb
  .editableFieldsContainer-1LYE1s {
    width: unset;
  }

  // make welcome screen example actually work
  .welcomeDescription-16dYOx {
    + .exampleContainer-25sB-A {
      background-size: contain;
      background-position: left;
    }
  }
}
