// i love the way discord has implemented their settings tab

.contentRegion-3nDuYy {
  flex-basis: 100%; // make the sidebar take up as little space as possible
  .contentColumn-2hrIYH, .customColumn-Rb6toI, // make the actual content take up everything else
  .customScroller-26gWhv > div, // various different menus
  .contentWidth-xLB44s, // edit role tab
  .noticeRegion-1YviSH, // "Careful - you have unsaved changes!" bar
  [style="opacity: 1;"] .sidebarScrollable-1qPI87 + .content-1rPSz4 { // channel permissions
    max-width: unset;
  }
  .customScroller-26gWhv > div {
    margin-inline: 40px;
  }

  // user profile
  .baseLayout-2GkbfB > div:not([class]) {
    flex-grow: 1;
  }

  // video preview
  .userSettingsVoice-iwdUCU {
    div:not([class]) [style="flex: 1 1 50%;"]:first-of-type {
      flex-basis: 100% !important;
      + [style="flex: 1 1 50%;"] {
        flex-basis: unset !important;
      }
    }
  }

  // make the color picker take up as much space as possible
  .bsi-settings-tab-bar ~ .flex-1xMQg5 {
    [style="flex: 1 1 70%;"] {
      flex-basis: 100% !important;
    }
  }

  // make tweaks take up as much space as possible
  .discordTweaksSettings {
    display: grid;
    .tweaks .tweakCard {
      width: 100%;
    }
  }

  // hypesquad video
  .features-2npk2D {
    margin-inline: auto;
    width: 50%;
  }

  // server icon
  .children-rWhLdy {
    .horizontal-1ae9ci[style="flex: 1 1 50%;"] {
      flex-basis: unset !important;
      flex-grow: 0 !important;
      [style="flex: 1 1 auto; max-width: 180px;"] {
        display: none;
      }
    }
  }

  // server invite and banner background
  [style="flex: 1 1 auto;"] .alignStart-H-X2h-.noWrap-3jynv6[style="flex: 1 1 50%;"] {
    + [style="flex: 1 1 50%;"] {
      flex-basis: unset !important;
    }
  }

  // make role settings not as Dumb
  div:not([class]) {
    .rolesTable-3622Dd {
      .memberSpacing-1zJbKJ,
      .buttonsSpacing-3twfdv {
        display: none;
      }
    }
    ~ .roleRow-30TwGe {
      .roleNameSpacing-XtjbtV {
        flex-basis: 900%;
      }
      .memberSpacing-1zJbKJ {
        flex-basis: unset;
        justify-content: unset;
        margin-right: 52px;
      }
      .buttonsSpacing-3twfdv {
        flex-basis: unset;
      }
      .editButton-1V012_ {
        visibility: unset;
      }
    }
  }

  // make emoji settings not as Dumb
  .marginBottom40-2vIwTv {
    > [style="flex: 1 1 auto;"]:first-of-type {
      [style="flex: 1 1 50%;"]:last-of-type {
        text-align: right;
      }
    }
  }
  .emojiRow-zIc7ZX {
    .positionRelative-3HNyhz {
      flex-basis: 100% !important;
    }
    .emojiRowText-2j4TNM {
      position: unset;
      margin-inline: 0.5em;
    }
    .emojiAliasInput-1y-NBz {
      width: 100%;
    }
    .emojiUploader-1f0pVx {
      display: flex;
      flex-direction: row-reverse;
      flex-basis: 10% !important;
    }
  }

  // make the boost upsell not repeat on the stickers tab
  .upsellContainer-3UlEOE {
    background-size: cover;
  }

  // make the widget preview not be Huge
  [src="/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg"] {
    flex-basis: unset !important;
  }

  // make membership screening settings not be Dumb
  .editableFieldsContainer-1LYE1s {
    width: unset;
  }

  // make welcome screen example actually work
  .welcomeDescription-16dYOx {
    + .exampleContainer-25sB-A {
      background-size: contain;
      background-position: left;
    }
  }
}
