// this is actually so bad

$background-images: (
  "airplane": (
    "/assets/88d6e5a673e816bf927dc8fe11d42d29.svg",
    "/assets/9937df80bc9c58a3e67709f58402f4db.svg"
  ),
  "arcades": (
    "/assets/beec347635d7597215747fcaf461e569.svg",
    "/assets/9581653a5a4d0b7b56187044a9db301a.svg"
  ),
  "ban_hammer": (
    "/assets/d6b031b6f8ec4761e1dac30e4e33f235.svg",
    "/assets/8f841811896e9d1eefcd13bcdaca9579.svg"
  ),
  "computer": (
    "/assets/c115d59ca13c0f942965a82a0f05bf01.svg",
    "/assets/ad530d02033b87bb89752f915c2fbe3c.svg"
  ),
  "dev_options": (
    "/assets/350e1c6739823620f031d023a48ac9d4.svg",
    "/assets/3123277eb2e7083fde983985dcd209a6.svg"
  ),
  "emojis": (
    "/assets/b21e574729a2e2b9243d811be7333677.svg",
    "/assets/2a35872721f98f9de6218eaedbd54a78.svg"
  ),
  "no_channel": (
    "/assets/ed2007aab2da31a5436e70a28b4d59f9.svg",
    "/assets/7ad95b56788fc31c3e5eec667129ba68.svg"
  ),
  "no_keybinds": (
    "/assets/12d9bda733d6432d605e8011c22c3e56.svg",
    "/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg"
  ),
  "pictures": (
    "/assets/f1e026332f1d6e902bcbbc07892bc849.svg",
    "/assets/fd65da49c3073002049383baeb24e658.svg"
  ),
  "pinned": (
    "/assets/ef3a1ed683cfcf029971b12a26462072.svg",
    "/assets/96ad9c7f6f636a7fb2028e2a07847776.svg"
  ),
  "scroll": (
    "/assets/6f3eec6ec5f47f36e3bce40e6176bfbe.svg",
    "/assets/ba5f6c10149932705aef4f169ad75e5a.svg"
  ),
  "sticker_not_found": (
    "/assets/bee123bfad40a3fb4bb42f8d318dd867.svg",
    "/assets/bee123bfad40a3fb4bb42f8d318dd867.svg"
  ),
  "wumpus_mining": (
    "/assets/8c998f8fb62016fcfb4901e424ff378b.svg",
    "/assets/645df33d735507f39c78ce0cac7437f0.svg"
  ),
  "wumpus_mountain": (
    "/assets/b36c705f790dad253981f1893085015a.svg",
    "/assets/36c9a2fb7d0593a581a92373121c2848.svg"
  ),
  "wumpus_sleeping": (
    "/assets/b36de980b174d7b798c89f35c116e5c6.svg",
    "/assets/fd879a28807b66b38d54e7db6ea18a69.svg"
  ),
  "wumpus_tea_party": (
    "/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg",
    "/assets/6b7098de4cc16f7e431ad8f9aae7f6db.svg"
  )
);

$srcs: (
  "channel_settings": (
    "/assets/3726fbfb6d657f9baf0582017ec8238c.svg",
    "/assets/075cd4741407c7fb961e0758155a05e1.svg"
  ),
  "category_settings": (
    "/assets/79a16912d0c0f2b7b430f8906bdfff9d.svg",
    "/assets/40afd79566cad1d0b437bf41a9c410df.svg"
  ),
  "nitro": (
    "/assets/b60ecd82d8fa5a8e21739e7025692429.svg",
    none
  ),
  "test_video": (
    "/assets/ca9e397003df8b46709315d7a248c7de.svg",
    "/assets/4f1b647aa3292d7d0c30658b659ed9f3.svg"
  ),
  "treasure_chest": (
    "/assets/67430d140a79af95585a19d304731dc5.svg",
    "/assets/d6779172ed9209b5ad49df923ea7820c.svg"
  )
);

$classes: (
  "boost": ".channelNotice-3DDmsB",
  "broken": ".errorImage-12Q43V",
  "castle": ".verification-3RfWYC .image-2LVZ_j",
  "crash": ".image-3zK3Wt",
  "empty": ".image-3rvd0n, .emptyImage-1ABqhB",
  "friend": ".channelNotice-1-XFjC.invite-OjTXrW",
  "gif_not_found": ".sadImage-2ph8SI",
  "gif_picker_end": ".endContainer-1ZDW8j::after",
  "groups": ".noFriends-1fVUuM .errorStateIcon-3fNXE5",
  "gift_inventory": ".emptyStateImage-2MrSNs, .emptyWumpus-12J3jI",
  "houses": ".emptyIconGuilds-zT7p-8",
  "integrations": ".footerImage-4UrEF0",
  "key": ".channelNotice-1-XFjC.guildMFAWarning-3GEzs8",
  "no_mutuals": ".emptyIconFriends-2l7flK",
  "no_results": ".noResultsImage-3Y0eCI",
  "no_results_conv": ".emptyState-2gL-9T",
  "phones": ".verificationBlock-1Chfpc .image-2LVZ_j.phone-27MBJz",
  "poop": ".imageError-2OefUi, .invalidPoop-pnUbq7, .guildIconExpired-2Qcq05",
  "searching": ".searchIndexBackground-HQa_J9",
  "server_outage": ".art-clkMXs",
  "spotify_error": '.artworkSpotifySessionEnded-11d_If',
  "streamer_mode": ".streamerModeEnabledImage-3vynUz",
  "switch": ".channelNotice-1-XFjC.quickswitcher-35bYg4",
  "unclaimed": ".imageUnclaimed-5nJyYs",
  "vocal_full": ".fullArt-2zAZvG",
  "wumpus_tea_party": ".errorStateIcon-3fNXE5",
);

// @everyone
@mixin thing($nth1, $nth2, $fill) {
  :nth-child(#{$nth1}) > :nth-child(#{$nth2}) path {
    fill: $fill
  }
}
.everyonePopout-nEbJY3 g > {
  @include thing(2, 1, #0000003d);
  @include thing(3, 1, #99abd8);
  @include thing(3, 2, #7a8ec7);
  @include thing(4, 1, #b3cafb);
  @include thing(4, 2, #c2d2f1);
  @include thing(4, 3, #a0b2dc);
  @include thing(4, 4, #a0b2dc);
  @include thing(4, 5, #7a8ec7);
  @include thing(4, 6, #7a8ec7);
  @include thing(4, 7, #8ba0d2);
  @include thing(4, 8, #c2d2f1);
  @include thing(6, 2, #99abd8);
  @include thing(10, 1, #e0c310);
  @include thing(11, 1, #fbd907);
}

@each $name, $asset in $background-images {
  $asset1: nth($asset, 1);
  $asset2: nth($asset, 2);
  [style*="background-image: url(\"#{$asset1}\");"],
  [style*="background-image: url(\"#{$asset2}\");"] {
    background-image: url("https://nyri4.github.io/Discolored/assets/#{$name}.svg") !important;
    filter: grayscale($discolored-grayscale) opacity($discolored-opacity);
  }
}
@each $name, $asset in $srcs {
  $asset1: nth($asset, 1);
  $asset2: nth($asset, 2);
  [src="#{$asset1}"],
  [src="#{$asset2}"] {
    content: url("https://nyri4.github.io/Discolored/assets/#{$name}.svg") !important;
    filter: grayscale($discolored-grayscale) opacity($discolored-opacity);
  }
}
@each $name, $class in $classes {
  #{$class} {
    background-image: url("https://nyri4.github.io/Discolored/assets/#{$name}.svg") !important;
    filter: grayscale($discolored-grayscale) opacity($discolored-opacity);
  }
}

//? manual overrides
//* community banner
.previewCard-DOrO3c .splashImage-352DQ1 {
  content: url("https://nyri4.github.io/Discolored/assets/community_banner.svg");
}
//* friend
.channelNotice-1-XFjC.invite-OjTXrW {
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 40%;
  filter: none;
}

//* key
.channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 40%;
  filter: none;
}

//* no mutuals
.emptyIconFriends-2l7flK {
  background-size: 100%
}

//* no results conversation
.emptyState-2gL-9T {
  background-size: 20%;
}

//* switch
.channelNotice-1-XFjC.quickswitcher-35bYg4 {
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 40%;
  filter: none;
}
