// looking back at this i can see how mad and over this i was when i wrote the comment below lol, still somewhat true tho
//! this is still such a fucking mess, even starting to become a shitpost at this point
$context-unknown: true;
$context-unknown: if($context-icons-side=="left", true, false) !default;
.menu-3sdvDG {
  --icon-size: #{if($context-icons-side=="left", 24px, 18px)};
  &.styleFlexible-wGDiIL {
    max-width: calc(320px + var(--icon-size));
  }
  .scroller-3BxosC {
    overflow: hidden auto !important;
    padding: 6px 8px !important;
  }
  .item-1tOPte {
    --content: #{if($context-unknown, inspect(""), unset)};
    color: var(--color, var(--interactive-normal));
    &:hover {
      color: var(--interactive-hover);
      background-color: var(--background-modifier-hover);
    }
    &:active:not(.hideInteraction-1iHO1O),
    &.focused-3afm-j:not(:hover) {
      color: var(--interactive-active);
      background-color: var(--background-modifier-active);
    }
    &#{if($context-icons-side=="left", "", "[role=\"menuitem\"]:not([aria-haspopup])")} {
      &:not(
        [id^="message-add-reaction--"]:not(#message-add-reaction--other-reactions),
        [id^="status-picker-switch-account--"]:not(#status-picker-switch-account--manage-accounts),
        #message-apps + .layer-v9HyYc div
      ) {
        .label-22pbtT,
        .statusItem-33LqPf[aria-label] {
          display: grid;
          grid-template-areas: if($context-icons-side=="left", "icon main secondary", "main secondary icon")
                               "subtext subtext subtext";
          grid-template-columns: if($context-icons-side=="left", var(--icon-size) auto 1fr, auto 1fr var(--icon-size));
          column-gap: 8px;
          align-items: center;
          .subtext-13Lvrj {
            grid-area: subtext;
          }
          &::before {
            content: var(--content);
            grid-area: icon;
            width: var(--icon-size);
            aspect-ratio: 1;
            -webkit-mask: {
              image: var(--icon, url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/context-menu-icons/unknown.svg?sanitized=true"));
              repeat: no-repeat;
              size: cover;
              position: center;
            }
            mask: {
              image: var(--icon, url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/context-menu-icons/unknown.svg?sanitized=true"));
              repeat: no-repeat;
              size: cover;
              position: center;
            }
            background-color: currentColor;
          }
        }
      }
    }

    @if ($context-icons-side=="left") {
      // fix status picker
      .label-22pbtT > .statusItem-33LqPf {
        &::before { // this is a mess
          content: unset !important;
        }
      }

      // make reactions actually be alligned properly
      &[id*="message-add-reaction--"] {
        flex-direction: row-reverse;
        gap: 8px;
        > div {
          margin: 0;
        }
      }
    }

    // make the add reaction emojis be the right size
    .imageContainer-2fGqYU {
      max-height: unset;
      &,
      > img {
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }

    // remove icons
    &:not(
      [aria-checked], // checkboxes
      [id*="message-add-reaction--"]:not(#message-add-reaction--other-reactions),
      #message-apps + .layer-v9HyYc div
    ) {
      .iconContainer-2-XQPY:not([aria-haspopup] div), // did it like this because of the switch accounts item
      .customEmojiPlaceholder-37iZ_j, // custom status
      .optionIcon-1HDcpY, // attach button
      .switchAccountsIcon-355frb,
      .hintContainer-Vai8dx { // "Copy"
        display: none;
      }
    }

    // fix custom status picker or something
    &#status-picker-custom-status {
      min-height: 32px;
      padding: 6px 8px;
    }
    .statusItem-33LqPf {
      min-height: unset;
      padding: 0;
      &.statusItemNoPadding-2yFleV {
        display: block;
      }
      &.customStatusItem-1TTIxM,
      &.customStatusWithEmoji-8-XZ8I {
        grid-template-rows: 1fr;
      }
    }

    // fix attach context menu
    .optionLabel-gOA3fK {
      font-size: unset;
    }
    .optionName-uM5yH- {
      margin: 0;
    }
  }
}

// TODO
$context-icons: (
  message: (
    "add-reaction": (
      icon: "add-reaction",
    ),
    "pin": (
      icon: "pin",
    ),
    "reply": (
      icon: "reply",
    ),
    "mark-unread": (
      icon: "mark-unread",
      color: red
    ),
  ),
);
@each $menu, $items in $context-icons {
  @each $item, $icon in $items {
    $color: map-get($icon, color);
    $color: var(--interactive-normal) !default;
    ##{$menu}-#{$item} {
      --color: #{$color};
      .label-22pbtT,
      .statusItem-33LqPf[aria-label] {
        --content: "";
        --icon: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/context-menu-icons/#{map-get($icon, icon)}.svg?sanitize=true");
      }
    }
  }
}
