.role-1P70N6, .role-78i2xt, // Locked channel allowed roles or something
.role-3paDXR, // Server template preview
.role-2irmRk { // User popout
  min-width: 22px;
  height: 22px;
  &:not(.addButton-pcyyf6) {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    .roleCircle-3xAZ1j, .roleCircle-3DE8xJ, .roleColor-fHISxl {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .2;
        background-color: inherit;
      }
    }
  }
  .roleColor-fHISxl { // Locked channel allowed roles or something
    filter: none;
    width: 12px;
    height: 12px;
  }
  [class^="roleName"] {
    color: white;
  }
}
.addButton-pcyyf6 {
  position: relative;
  border: none;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .15;
    background-color: var(--interactive-normal);
  }
  svg {
    width: 12px;
    height: 12px;
    color: var(--interactive-active);
  }
}
