// this is pretty janky and bad, i have no idea how grid works and stage containers are dumb
// imagine if this still works when/if discord brings stage discovery back
#stage-discovery-tab {
  + .nowPlayingSidebar-2OFn0o {
    display: none;
  }
  .headerContainer-1Wluzl {
    grid-column: span $stage-discovery-rows;
    max-width: unset;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    > div {
      padding: 1.9rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .container-24CyRY[dir="ltr"] {
    display: grid;
    grid-template-columns: repeat($stage-discovery-rows, 1fr);
    grid-template-rows: repeat(100, 0fr);
    $gap: 6px;
    gap: $gap;
    padding: 0 $gap !important;
    .container-S9SaVf {
      max-width: unset;
      width: 100%;
      height: 100%;
      margin: 0;
      border: 1px solid var(--background-modifier-accent);
      &.connected-2MF1ew {
        border-color: var(--status-positive-background);
      }
      .topicText-2H6hYP {
        -webkit-line-clamp: 1;
        line-clamp: 1;
      }
      .grid-3fdl0Y {
        grid-template-rows: repeat(2, 1fr);
      }
      .textInGridContainer-XBWCa-,
      .textInGrid-1ba1AD {
        max-width: unset;
      }
    }
    .container-2rNpDV, // "What are you passionate about?"
    .container-1WCE6w { // Refresh thing
      grid-column: span $stage-discovery-rows;
    }
    .container-2rNpDV {
      place-self: center;
      margin-top: 0;
      min-width: 60rem;
      width: 45%;
      max-width: 80%;
      background: linear-gradient(115deg, hsl(221, calc(var(--saturation-factor, 1) * 70%), 55.5%), hsl(269, calc(var(--saturation-factor, 1)*83.8%), 71%)) no-repeat;
      .content-1cqZ_C {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        width: unset;
        inset: 32px;
        padding: 0;
        > h3,
        > div {
          text-align: center;
          margin: 0;
        }
      }
    }
    .container-1WCE6w {
      margin: 0;
      padding: 16px 0 28px;
    }
  }
}
