.privateChannels-oVe7HL {
  .content-2a4AW9 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    $gap: 8px;
    column-gap: $gap;
    padding-left: $gap;
  }
  .channel-1Shao0,
  div[style="height: 8px;"],
  h2 {
    flex-basis: 100%;
  }
  .channel-1Shao0 {
    width: 0;
    max-width: unset;
    margin-left: unset;
    &:not([aria-label]) {
      display: flex;
      justify-content: center;
      flex: 1;
      flex-basis: 20%;
      margin: 0;
      .layout-1qmrhw {
        flex-grow: 1;
        justify-content: center;
      }

      .children-283-lq:not(:empty, .holidayPromotionSelectedBackground-irywjz div) { // friend req circle
        justify-self: center;
        position: absolute;
        isolation: isolate;
        margin-right: -16px;
        bottom: 8px;
        // imagine mask
        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          inset: -2px;
          border-radius: 50%;
        }
        &::before {
          background-color: var(--background-secondary);
        }
      }
      &:hover .layout-1qmrhw .children-283-lq::after {
        background-color: var(--background-modifier-hover);
      }
      &:active .layout-1qmrhw .children-283-lq::after {
        background-color: var(--background-modifier-active);
      }
      &.selected-1-Z6gm .layout-1qmrhw .children-283-lq::after {
        background-color: var(--background-modifier-selected);
      }

      .avatar-6qzftW {
        margin-right: 0;
      }
      .content-1U25dZ {
        display: none;
      }
      &:hover {
        @include tooltip($content: attr(href), $pos: bottom);
      }
    }
  }
}

$tooltip-content: (
  "Vizality": "/vizality",
  "Friends": "/channels/@me",
  //"Stage Discovery": "/discovery",
  "Library": "/library",
  "Nitro": "/store",
  "Store": "/store/skus/",
);
@each $name, $href in $tooltip-content {
  #app-mount .channel-1Shao0[href^="#{$href}"]:not([href^="/channels/@me/"]):hover::before {
    content: $name;
  }
}
