.privateChannels-1nO12o {
  .content-3YMskv {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    $gap: 8px;
    column-gap: $gap;
    padding-left: $gap;
  }
  .channel-2QD9_O,
  div[style="height: 8px;"],
  h2 {
    flex-basis: 100%;
  }
  .channel-2QD9_O {
    width: 0;
    max-width: unset;
    margin-left: unset;
    &:not([aria-label]) {
      display: flex;
      justify-content: center;
      flex: 1;
      flex-basis: 20%;
      margin: 0;
      .layout-2DM8Md {
        flex-grow: 1;
        justify-content: center;
      }

      .children-gzQq2t { // friend req circle
        justify-self: center;
        position: absolute;
        isolation: isolate;
        margin-right: -16px;
        bottom: 8px;
        // imagine mask
        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          inset: -2px;
          border-radius: 50%;
        }
        &::before {
          background-color: var(--background-secondary);
        }
      }
      &:hover .layout-2DM8Md .children-gzQq2t::after {
        background-color: var(--background-modifier-hover);
      }
      &:active .layout-2DM8Md .children-gzQq2t::after {
        background-color: var(--background-modifier-active);
      }
      &.selected-aXhQR6 .layout-2DM8Md .children-gzQq2t::after {
        background-color: var(--background-modifier-selected);
      }

      .avatar-3uk_u9 {
        margin-right: 0;
      }
      .content-3QAtGj {
        display: none;
      }
      &:hover {
        @include tooltip($content: attr(href), $pos: bottom);
      }
    }
  }
}

$tooltip-content: (
  "Vizality": "/vizality",
  "Friends": "/channels/@me",
  //"Stage Discovery": "/discovery",
  "Library": "/library",
  "Nitro": "/store",
  "Store": "/store/skus/",
);
@each $name, $href in $tooltip-content {
  #app-mount .channel-2QD9_O[href^="#{$href}"]:not([href^="/channels/@me/"]):hover::before {
    content: $name;
  }
}
