$colors: (
  "watching & playing": (
    ">:first-child",
    #5865F2
  ),
  "spotify": (
    ".timeBarUserPopout-AWPFf2",
    #1DB954
  ),
  "xbox": (
    ".xboxAssets-aGhVw8",
    #107C10
  ),
  "live": (
    ".detailsWrap-22pigg.textRow-19NEd_[title]",
    #593695
  )
);
@each $type, $stuff in $colors {
  $class: nth($stuff, 1);
  $col: nth($stuff, 2);
  .newPopoutActivityStyles {
    #{$class} {
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: -12px;
        top: -8px;
        border-radius: 4px;
        background-color: $col;
        box-shadow: 4px 4px 0 desaturate(darken($col, 17.5%), 25%);
      }
    }
  }
}

.newPopoutActivityStyles {
  z-index: 1;
  padding-bottom: 0;
  margin: 8px;
  margin-bottom: 24px;
  #app-mount & {
    .content-3JfFJh,
    .content-3JfFJh div {
      color: #f0f0f0;
    }
    .content-3JfFJh a,
    .headerText-1HLrL7 {
      color: white;
    }
  }
  .lookFilled-1Gx00P.colorGrey-2DXtkV {
    border: 1px solid currentColor;
    color: #fff;
    background-color: transparent;
    transition: background-color .17s ease;
    &:active {
      background-color: hsla(0, 0%, 100%, .1);
    }
    &:hover,
    &:disabled {
      background-color: transparent;
    }
  }
  .spotifyIcon-2J9kSv {
    display: none !important;
  }
  .xboxAssets-aGhVw8 {
    position: static;
  }
}
