[aria-label="User profile modal"],
div:not([class]) .backdrop-1wrmKB + .modal-3c3bKg { // server profile modal
  //? color changes
  .topSection-y3p-_D {
    background-color: var(--background-tertiary);
  }
  .avatar-AvHqJA {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  .body-r6_QPy {
    background-color: var(--background-secondary);
    &.noTabBar-3ZjPNR {
      border-top: none;
    }
  }

  //? almost everything else
  // header positioning
  .nameTag-ECvD8P {
    margin-bottom: 12px; // thanks juby
    &.nameTagWithCustomStatus-2kkfrQ {
      margin-bottom: 8px;
    }
  }
  .customStatusActivity-nmH3DF {
    padding-bottom: 8px;
    
    // "fix" custom status overflow
    .customStatus-1COQYu {
      display: flex;
    }
  }

  //? move buttons below the actual activities
  .activityProfile-2bJRaP {
    .assets-VMAukC {
      margin: 0;
    }
    .body-ZAhrcj {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
    }
    .contentNoImagesProfile-371_Rv {
      grid-column: span 3;
    }
    .buttonsWrapper-2spIeK {
      margin: 0;
      grid-row: 2;
      grid-column: span 3;
    }
    .buttonSize-AQY2mE {
      width: 100%;
    }
  }
}
