.userPopout-xaxa6l {
  //? color changes
  .headerTop-3vNv-a,
  .customStatus-oN4ZZY {
    background-color: var(--background-tertiary);
  }
  .avatar-37jOim {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  &,
  .body-3HBlXn, .bodyInnerWrapper-26fQXj,
  .footer-3UKYOU {
    background-color: var(--background-secondary);
  }

  //? USRBG
  overflow: hidden;
  transform: translateZ(0) !important;
  .avatar-37jOim {
    &::before {
      content: "";
      position: fixed;
      z-index: -1;
      pointer-events: none;
      inset: 0;
      height: 120px;
      background: var(--user-background) no-repeat var(--user-popout-position, center) / cover;
    }
  }

  //? literally everything else
  //* banner height
  .banner-2QYc2d {
    height: 120px;
  }

  //* header positioning
  .headerTop-3vNv-a {
    padding-bottom: 8px;
    @at-root .customStatus-oN4ZZY,
    &:not(.headerTopWithCustomStatus-1DHAjX) {
      margin-bottom: 8px;
    }
  }
  .customStatus-oN4ZZY {
    padding-bottom: 10px;
    span {
      line-height: 1.4em;
    }
  }

  //* make the big assets bigger
  @at-root .activityVoiceChannel-OPU-Fm, .streamPreviewWrapper-2DSWOK,
  & .activity-2INFPu {
    .assets-VMAukC {
      margin-right: 8px;
      > svg,
      .assetsLargeImage-eYwpTX:not(foreignObject > img),
      .assetsLargeImageStreamPreview-1A9lfF,
      .assetsLargeImageUserPopout-3Pp8BK,
      .assetsLargeImageUserPopoutXbox-2hgKt0 {
        height: 72px;
        width: 72px;
        -webkit-mask-size: cover;
      }
    }

    //* fix activity text overflowing
    .content-3JfFJh {
      width: 0;
    }
  }

  //* get rid of the devider
  .divider-ewBQKj {
    display: none;
  }

  //* make the "body" actually good
  .body-3HBlXn {
    padding: 0 0 14px !important;
    overflow: visible !important;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    > div {
      padding-left: 16px;
      padding-right: 16px;
    }

    //* improve positioning
    h3:not(.activityUserPopout-2yItg2 h3) {
      margin-bottom: 6px;
    }
  }

  .bodyInnerWrapper-26fQXj { // this is pain
    display: grid;
    //* UserDetails stuff
    [class^="UserDetails-"][class$="body" i] {
      order: 1;
      margin-bottom: 12px;
      &[class*="connections"] {
        h3 {
          margin-bottom: 2px;
        }
        .UserDetails-connections-connections {
          gap: 4px;
        }
        .UserDetails-badge-connection {
          margin: 0;
        }
        .UserDetails-badge-verifiedBadge {
          display: none;
        }
      }
      > div {
        margin-bottom: 0;
      }
    }
    //* Permission viewer
    .newPopoutActivityStyles {
      order: -2;
    }
    #permissions-popout {
      order: -1;
    }
    .member-perms-header {
      div,
      ~ ul {
        display: none;
      }
      .perm-details {
        position: absolute;
        right: 8px;
        color: var(--header-secondary);
      }
      .perm-details-button {
        height: 1em;
      }
    }
  }
}

//? Settings user popout
.profileBannerPreview-3_l0Wd {
  background-color: var(--background-tertiary);
  .banner-hcPdsd {
    height: 120px;
  }
  .popoutInfo-pKbpvG {
    background-color: var(--background-secondary);
    padding-top: 12px;
  }
  .divider-ewBQKj {
    display: none;
  }
}
