.userPopout-xaxa6l {
  //? color changes
  .headerTop-3vNv-a,
  .customStatus-oN4ZZY {
    background-color: var(--background-tertiary);
  }
  .avatar-37jOim {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
  }
  &,
  .body-3HBlXn, .bodyInnerWrapper-26fQXj,
  .footer-3UKYOU {
    background-color: var(--background-secondary);
  }

  //? literally everything else
  // header positioning
  .headerTop-3vNv-a {
    padding-bottom: 8px;
    @at-root .customStatus-oN4ZZY,
    &:not(.headerTopWithCustomStatus-1DHAjX) {
      margin-bottom: 8px;
    }
  }
  .customStatus-oN4ZZY {
    padding-bottom: 10px;
    span {
      line-height: 1.4em;
    }
  }

  .activity-2INFPu {
    // make the big asset bigger
    .assets-VMAukC {
      .assetsLargeImageStreamPreview-1A9lfF,
      .assetsLargeImageUserPopout-3Pp8BK,
      .assetsLargeImageUserPopoutXbox-2hgKt0 {
        height: 72px;
        width: 72px;
        mask-size: cover;
        -webkit-mask-size: cover;
      }
    }

    // fix activities overflowing
    .content-3JfFJh {
      width: 0;
    }
  }

  // get rid of the devider
  .divider-ewBQKj {
    display: none;
  }

  // make the "body" actually good
  .body-3HBlXn {
    padding: 0 0 14px !important;
    overflow: visible !important;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    > div {
      padding-left: 16px;
      padding-right: 16px;
    }

    // improve positioning
    h3:not(.activityUserPopout-2yItg2 h3) {
      margin-bottom: 6px;
    }
  }

  // UserDetails stuff
  .bodyInnerWrapper-26fQXj {
    display: grid;
    [class^="UserDetails-"][class$="body" i] {
      order: 1;
      margin-bottom: 12px;
      &[class*="connections"] {
        h3 {
          margin-bottom: 2px;
        }
        .UserDetails-connections-connections {
          gap: 4px;
        }
        .UserDetails-badge-connection {
          margin: 0;
        }
        .UserDetails-badge-verifiedBadge {
          display: none;
        }
      }
      > div {
        margin-bottom: 0;
      }
    }
  }
}

//? Settings user popout
.profileBannerPreview-3_l0Wd {
  background-color: var(--background-tertiary);
  .popoutInfo-pKbpvG {
    background-color: var(--background-secondary);
    padding-top: 12px;
  }
  .divider-ewBQKj {
    display: none;
  }
}
