// Thinner scrollbar
:not(.channelTextAreaInner-1WnnRS):not(.channelTextArea-2VhZ6z [class^="scrollable"]) {
  &::-webkit-scrollbar {
    width: 5px !important;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border: none !important;
  }
}

// "hide protips bc im a pro"
[class^="protip"] {
  display: none !important;
}

// QuickSwitcher fix and text area color change
.quickswitcher-3JagVE {
  padding: 20px;
  .input-2VB9rf {
    background-color: var(--background-floating);
  }
}

// Round hover effect on user area buttons
.button-14-BFJ {
  border-radius: 50%;
}

// Round top-left corner
.content-98HsJk {
  .threadSidebarOpen-vdkwIh,
  .sidebar-2K8pFh {
    border-radius: unset;
    border-top-right-radius: $top-left-corner-roundedness;
  }
  > div:not(.sidebar-2K8pFh) {
    border-top-left-radius: $top-left-corner-roundedness;
  }
}
.standardSidebarView-3F1I7i { // Settings
  background-color: var(--background-secondary);
  .contentRegionScroller-26nc1e {
    background-color: transparent;
  }
  .sidebarRegionScroller-3MXcoP {
    &::-webkit-scrollbar-track {
      margin-top: $top-left-corner-roundedness * 1.125
    }
  }
  .contentRegion-3nDuYy {
    border-top-left-radius: $top-left-corner-roundedness;
  }
}

// Text area buttons positioning
.channelTextArea-rNsIhG {
  .sansAttachButton-td2irx {
    padding-left: 12px;
  }
}

// Make the "chat bars" ("You're viewing older messages", "X new messages since Y on Z") opaque
.barBase-1c2Rfb {
  opacity: 1;
}

// Remove the seperators and descriptions on the status picker
#status-picker {
  .description-2L932D {
    display: none;
  }
}

// Remove the seperators on context menus
.menu-3sdvDG {
  [role="separator"] {
    display: none;
  }
}

// "make typing and slowmode a bit more subtle"
.cooldownWrapper-3joyFc,
.typing-2GQL18 {
  color: var(--text-normal) !important;
  opacity: 0.7;
}

// No lines on the friend list
.peopleListItem-2nzedh {
  border-top-color: transparent;
}

// Bigger user avatars on calls
.participant-1lOCsd {
  transform: scale(1.25);
  margin: 0 20px;
}

// Higher contrast invite buttons for context menus
[id$="-invite-people"] {
  color: var(--brand-experiment);
  &:hover {
    color: var(--interactive-active);
  }
}

//!#####################################################################################################################################################################
// more visible message actions
[aria-label="Message actions"] .wrapper-2aW0bm {
  background-color: var(--background-secondary);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

// better active now sidebar
.nowPlayingSidebar-2OFn0o,
.nowPlayingColumn-2sl4cE {
  > div {
    background-color: var(--background-secondary);
    .scroller-2ZPeAD {
      border-left: none;
    }
    .itemCard-v9viV7 {
      border: none;
      transition: background-color 0.3s;
      background-color: var(--background-secondary-alt);
      section {
        transition: background-color 0.3s;
        background-color: var(--background-secondary);
      }
      &:hover,
      &.active-1xchHY {
        background-color: var(--background-tertiary) !important;
        section {
          background-color: var(--background-secondary-alt);
        }
      }
    }
  }
}

// more consistent connections positioning
.userInfoSection-q_35fn + .userInfoSection-q_35fn {
  padding: 20px 0;
}
