// i have no idea what to name this, harmony didn't really add a comment for this
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP),
div.channelTabs-tabContainer,
.guilds-1SWlCJ,
.guilds-1SWlCJ .scrollerBase-289Jih {
  background-color: var(--background-secondary);
}

// Channel tabs
#channelTabs-container {
  width: calc(100% - 72px - 240px);
  margin-left: 68px + 240px;
  ~ .layers-3iHuyZ { //pain
    &,
    > .layer-3QrUeG,
    .container-2lgZY8,
    .base-3dtUhz {
      overflow: visible;
    }
    [aria-label="Servers sidebar"],
    .sidebar-2K8pFh,
    [aria-label="USER_SETTINGS"] {
      margin-top: calc((var(--channelTabs-tabHeight) + 16px) * -1);
    }
    .searchBar-6Kv8R2 {
      box-shadow: none;
    }
  }
}
.channelTabs-tabContainer {
  display: flex;
  place-items: center;
  .channelTabs-tab {
    display: flex;
    place-items: center;
  }
  .channelTabs-newTab,
  .channelTabs-closeTab {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    &:not(.channelTabs-selected div):not(.channelTabs-newTab:hover) {
      color: var(--interactive-normal);
    }
  }
  .channelTabs-closeTab {
    width: 16px;
    height: 16px;
    &:hover:not(.channelTabs-selected div) {
      filter: brightness(1.3);
    }
    &::after {
      content: "\1F7A9";
      font-weight: 700;
      font-size: 0.8rem;
    }
  }
  .channelTabs-newTab {
    width: 22px;
    height: 22px;
    font-size: 0;
    &::after {
      content: "\002B";
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}

[aria-label="Servers"] {
  // Server folders
  .expandedFolderBackground-1cujaW,
  .folder-1hbNCn {
    background-color: var(--background-tertiary) !important;
    transition: background-color 0.3s;
    &.hover-qTxTR_ {
      background-color: var(--background-secondary-alt);
    }
  }
  .expandedFolderIconWrapper-Huv7rA,
  .folderIconWrapper-1_bOZe {
    &[style] {
      background-color: transparent !important;
    }
    > svg {
      color: var(--brand-experiment) !important;
    }
  }
  // Explanded folder background width
  .wrapper-3Njo_c {
    display: grid;
    place-items: center;
    .expandedFolderBackground-1cujaW {
      width: 42px;
      left: unset;
    }
  }
}

// Panel border colors
[aria-label="User area"] > div {
  border-color: var(--background-secondary);
}
