/*
 * this file is actually the worse part of the theme; even the dev of harmony said, and i quote
 ! "i have very little clue what  all this means"
 ! "what is .wrapper-2ZbzR9 and .downloadApps-wbBFdZ ?"
 * if the actual dev does not know what the actual fucking theme does how do you expect me 
 * to rewrite it
*/

/*---------------------accent color system -again thanks to Customa--------------------*/
/*---------------------i have very little clue what  all this means--------------------*/
/*-------------------basically adds a lot of ColAccent around the app------------------*/
/*alpha*/
.buffer-26XPkd,
.buffer-26XPkd::after,
.buffer-26XPkd::before,
.content-3dzVd8.isMentioned-N-h9aa,
.mediaBarPreview-1jfyFs,
.mediaBarPreview-1jfyFs::after,
.mediaBarPreview-1jfyFs::before,
.reaction-1hd86g.reactionMe-wv5HKu,
.wrapper-3WhCwL {
  background-color: var(--brand-experiment-20a);
}
.highlight {
  background-color: var(--brand-experiment-20a);
  filter: brightness(3);
}
/*normal*/
.barFill-23-gu-,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span,
.children-rWhLdy .nowPlaying-284llR,
.circleIconButton-jET_ig.selected-ugP_am,
.container-3ayLPN .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
.container-3ayLPN
  .datePicker--XZbmJ
  .datePickerHint-3Q1Udw
  .hintValue-29ny8Z:hover,
.containerDragAfter-1F4fgZ::after,
.containerDragAfter-3TEhpe::before,
.containerDragBefore-31UGCO::before,
.containerDragBefore-3Dzc5x::before,
.datePicker--XZbmJ
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected::after,
.datePicker--XZbmJ
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected:hover,
.datePicker--XZbmJ .calendarPicker-2yf6Ci .react-datepicker__day:hover,
.headerPlaying-j0WQBV,
.headerSpotify-zpWxgT,
.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.iconBadge-3qSJIw.participating-1NvRVd,
.iconBadge-2NuvG9,
.isUnread-3Ef-o9 .content-1o0f9g,
.item-2hkk8m,
.item-3eFBNF.selected-2DeaDa,
.mediaBarGrabber-1FqnbN,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::after,
.mediaBarProgress-1xaPtl::before,
.newMessagesBar-mujexs,
.progressBar-2Hd4f8 .barForeground-3KglC8,
.questionMark-CWEQZn.flexCenter-3_1bcw,
.questionMark-CWEQZn.flexCenter-3_1bcw:hover,
.result-3w1ZcL .result-3w1ZcL .selectorButtonSelected-1j4DmC,
.selectorButtonSelected-336oUc,
.side-8zPYf6 .role-3wi9Tf.selected-3s45Ha.item-PXvHYJ,
.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ,
.switch-3wwwcV.valueChecked-m-4IJZ,
.tooltip-2QfLtc.tooltipBrand-g03Nz8,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X,
.topSectionXbox-3fWLjS,
.unread-3zKkbm,
.unreadPill-2HyYtt,
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4,
.wanderingCubesItem-WPXqao,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.wrapper-232cHJ,
.wrapper-3WhCwL:hover {
  background-color: var(--brand-experiment);
}
.isUnread-3Ef-o9 .content-1o0f9g {
  color: white;
}
/* ping indicators with numbers*/
.item-26Dhrx[style*='rgb(114, 137, 218)'],
.languageCheckbox .checkbox-1ix_J3.checked-3_4uQ9,
.pageControl-1aUwvK .activeButton-1BJAiN,
.progress-3Rbvu0 .progressBar-3u8FBM,
.result-3w1ZcL[style*='background-color'],
.selectableItem-1MP3MQ.selected-31soGA,
.switch-3wwwcV.valueChecked-m-4IJZ[style*='rgb(67, 181, 129)'],
.tabBar-ZmDY9v .item-3HknzM[style*='background-color: rgb(67, 181, 129);'] {
  background-color: var(--brand-experiment) !important;
}
/*server plus and search button is the only thing i can notice*/
.hasMore-3e72_v,
.hasMoreButton-1MELpI,
.progress-LWvunf .foreground-2EIns2,
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV,
/* .searchBar-3dMhjb .searchAnswer-3Dz2-q, */
.selectorNitroIcon-3FDeDE,
.statusGreen-168O6Q,
.tier-12tKuZ .tierUnlocked-25K6Kv,
.tierHeaderContent-2-YfvN .tierUnlocked-27DwHo,
.unreadPill-2HyYtt .unreadPillCapStroke-7rkHbg,
.wrapper-3WhCwL {
  color: var(--brand-experiment);
}
.checkbox-3kaeSU,
.checkboxInner-3yjcPe,
.checkboxElement-1qV33p:checked + span,
.dropdown-2fxkrS .lookFilled-1h1y05.select-1Pkeg4:focus,
.dropdown-2fxkrS .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b,
.dropdown-2fxkrS .lookFilled-1h1y05.selectOpen-hQuR6b,
.emojiPicker-3m1S-j .categories-1feg4n .selected-39BZ4S,
.footer-1fjuF6 .quickMessage-1yeL4E:focus,
.horizontalAutocomplete-L5KnTN .selector-2IcQBU.selectorSelected-1_M1WV,
.imageSelected-4Kl81J,
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus,
.isUnread-3Ef-o9,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV.selectOpen-hQuR6b,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV.selectOpen-hQuR6b:hover,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV:focus {
  border-color: var(--brand-experiment);
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover {
  border-bottom: 1px solid var(--brand-experiment);
}

/*something to do with calling?*/
.border-Jn5IOt.video-3SrWSI.speaking-B2MXPi,
.border-Jn5IOt.voice-3bPYC-.speaking-B2MXPi,
.content-ySCtCx .focused-1En8bG::after,
.content-ySCtCx .result-3w1ZcL:hover::after,
.tile-2silOL:hover .sourceThumbnail-14Iubx {
  box-shadow: inset 0 0 0 3px var(--brand-experiment);
}
.tabBar-ZmDY9v
  .item-3HknzM[style*='background-color: rgba(67, 181, 129, 0.2);'] {
  background-color: var(--brand-experiment-20a) !important;
  color: var(--brand-experiment) !important;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  /*upload 2nd screen border around preview*/
  border: 2px solid var(--brand-experiment);
}
.uploadModal-2ifh8j .inner-3nWsbo,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  border: 2px dashed var(--brand-experiment);
  border-radius: 10px;
}
.powercord-spotify-playlist:hover {
  background-color: transparent !important;
  border-color: var(--brand-experiment) !important;
}
.regionSelect-3lf4eE button,
/* what is .wrapper-2ZbzR9 and .downloadApps-wbBFdZ ?*/
.wrapper-2ZbzR9 .header-3ZP1MY,
.wrapper-2ZbzR9 .sampleLink-KPFu3I,
.wrapper-2ZbzR9 .slide-2pHaq5 h5 {
  color: var(--brand-experiment);
}
.regionSelectWrapper-1favwk
  .regionSelect-3lf4eE:hover
  .regionSelectInner-24f4Ce,
.regionSelectWrapper-1favwk .regionSelect-3lf4eE:hover button {
  border-color: var(--brand-experiment);
}
.powercord .check-2by_h9::after {
  content: '\f00c';
  color: var(--brand-experiment);
  font-weight: 900;
  font-family: 'Font Awesome 5 Pro', sans-serif !important;
}
.container svg path .unreadPillCapStroke-7rkHbg,
.unreadPillCap-3_K2q2 {
  color: var(--brand-experiment);
  stroke: var(--brand-experiment) !important;
}
.flowerStar-1GeTsn path,
.selectorNitroIcon-3FDeDE g path,
.unreadPill-2HyYtt .unreadPillCapStroke-7rkHbg {
  fill: currentColor;
}
/*--------------------End of accent color stuff from customa--------------------*/
/*------------------------------------------------------------------------------*/
