@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
$colored-message-events: (
  ".ephemeral-1PsL1r:not(.replying-1x3H0T)":  rgb(114, 137, 218),
  ".replying-1x3H0T.replying-1x3H0T": rgb(2, 183, 87),
  ".mentioned-xhSam7": rgb(250, 168, 25),
  ".mentioned-xhSam7.ml2-deleted-alt": rgb(245, 115, 50),
  ".ml2-deleted-alt": rgb(240, 71, 71),
);
#app-mount {
  .barBase-1c2Rfb {
    z-index: 3;
  }
  .messageListItem-1-jvGY {
    animation: slide 350ms ease !important; // added the !important here so the settings modal doesn't Eat it
  }
  .message-2qnXI6 {
    .wrapper-2aW0bm {
      background-color: var(--background-secondary);
      box-shadow: var(--elevation-stroke), var(--elevation-medium);
    }

    @include ripple($color: rgba(4, 4, 5, 0.4)); // --background-message-hover
    &:hover {
      transition: background-color 250ms;
      background-color: rgba(4, 4, 5, 0.075);
    }
    &:active,
    &.selected-.zalgo-jN1Ica {
      background-color: rgba(4, 4, 5, 0.125);
    }
    &:not(.zalgo-jN1Ica) {
      background-color: unset;
    }
    .channelTextArea-2VhZ6z,
    .markup-2BOw-j,
    .container-1ov-mD {
      z-index: 1;
    }
    .avatar-1BDn8e.clickable-1bVtEA {
      z-index: 2;
    }

    @each $type, $color in $colored-message-events {
      &#{$type} {
        --ripple-col: #{color.change($color, $alpha: 0.4)};
        background-color: color.change($color, $alpha: 0.05);
        &:hover {
          background-color: color.change($color, $alpha: 0.075); // special thanks to lighty for making this not fucking work at all for deleted messages
        }
        &:active,
        &.selected-2P5D_Z {
          background-color: color.change($color, $alpha: 0.125) !important; // special thanks to lighty for making me add this !important
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          width: 2px;
          background-color: color.change($color, $alpha: 0.9);
        }
      }
    }
  }
}
