//? Not discrims
.channel-2QD9_O[aria-label]:not(.selected-aXhQR6),
.nowPlayingColumn-2sl4cE, .nowPlayingSidebar-2OFn0o {
  filter: blur(var(--blur-amount));
  transition: filter 0.25s;

  &:hover {
    filter: blur(0);
  }
}

//? Discrims
[aria-label="Click to copy username"] .subtext-3CDbHg, // User area
.discrimBase-24vY8o, // (Settings) User popout
.discriminator-1swucG, // User modal
.discriminator-2C3qJO { // Settings user modal
  filter: blur(var(--blur-amount));
  transition: filter 0.25s;

  &:hover {
    filter: blur(0);
  }
}
