//? Not discrims
.channel-2QD9_O,
.nowPlayingColumn-2sl4cE, .nowPlayingSidebar-2OFn0o {
  transition: filter 0.25s;
  &:not(.selected-aXhQR6):not([href="/channels/@me"]):not([href="/discovery"]):not([href="/store"]) {
    filter: blur($blur-amount);

    &:hover {
      filter: blur(0);
    }
  }
}

//? Discrims
[aria-label="Click to copy username"] .subtext-3CDbHg, // User area
.discrimBase-24vY8o, // (Settings) User popout
.discriminator-1swucG, // User modal
.discriminator-2C3qJO { // Settings user modal
  filter: blur($blur-amount / 1.5);
  transition: filter 0.25s;

  &:hover {
    filter: blur(0);
  }
}
