//? OSX buttons
@if $use-osx-buttons >= 1 {
  .typeWindows-1za-n7.titleBar-AC4pGV {
    height: 14px;
    padding-top: 4px;
    > div:not(.wordmark-2iDDfm) {
      top: -6px;
    }
    .winButton-iRh8-Z {
      pointer-events: none;
      margin-left: -2px;
      background-color: transparent;
      > svg {
        display: none;
      }
      &::after {
        content: "";
        padding: 7px;
        border-radius: 50%;
        pointer-events: auto;
      }
    }
  }
  $osx-buttons: (
    ".winButtonClose-1HsbF-": (
      #ff605c,
      #ff605c80
    ),
    ".winButtonMinMax-PBQ2gm:nth-last-child(2)": (
      #ffbd44,
      #ffbd4480
    ),
    ".winButtonMinMax-PBQ2gm:nth-last-child(1)": (
      #00ca4e,
      #00ca4e80
    ),
  );
  @each $class, $colors in $osx-buttons {
    $neutral: nth($colors, 1);
    $hover: nth($colors, 2);
    #{$class} {
      &::after {
        background-color: $neutral;
      }
      &:hover::after {
        background-color: $hover;
      }
    }
  }
}

//? Replace Discord watermark text
@if $use-custom-wordmark >= 1 {
  .wordmark-2iDDfm {
    padding: 5px 6px 0;
    svg {
      display: none;
    }
    &::after {
      content: "#{$custom-wordmark-text}";
      position: absolute;
      top: 5px;
      left: 6px;
      font-family: "Discord";
      font-size: 14px;
    }
  }
}

//? Settings devider
.item-PXvHYJ[data-item-id="pc-updater"] {
  align-items: unset !important;
  margin-bottom: 3.65em;
  overflow: visible;
  &::after {
    content: "Plugin Settings";
    position: absolute;
    pointer-events: none;
    width: 89.5%;
    margin-top: 3.19em;
    line-height: 3em;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid var(--background-modifier-accent);
    color: rgb(159, 159, 159);
  }
}

//? Better popped out QuickCSS
.powercord-quickcss {
  border-radius: 5px;
  border: 1px solid var(--background-tertiary);
  &.popped-out {
    overflow: hidden;
    border: 1px solid var(--background-tertiary);
    background: var(--background-secondary) url("/assets/5ac53bbce4bc51dd14d5413bd7d1c77d.svg") no-repeat 50% 35% / 30%;
  }
}
.powercord-entities-manage-tabs {
  border: 1px solid var(--background-tertiary);
}
.powercord-quickcss-popped {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 360px;
  transform: translate(-50%, -50%);
  font-family: var(--font-primary);
  font-size: 30px;
  &::after {
    content: ".";
  }
}

//? Colored permissions in settings
$colored-permissions: (
  ".deny-3nAuT6": (
    #f04747,
    #ff6660
  ),
  ".passthrough-1c2ewQ": (
    #faa61a,
    #ffc23d
  ),
  ".allow-1PzSY3": (
    #43b581,
    #61d09a
  )
);
@each $class, $colors in $colored-permissions {
  $neutral: nth($colors, 1);
  $hover-active: nth($colors, 2);
  #app-mount {
    #{$class} {
      color: $neutral;
      &:hover,
      &.selected-2YhbGh {
        color: white;
        background-color: $hover-active !important;
      }
    }
  }
}

//? Different color for different messages events
$colored-message-events: (
  ".mentioned-xhSam7": (
    rgba(250, 168, 25, 0.9),
    rgba(250, 168, 25, 0.05),
    rgba(250, 168, 25, 0.08)
  ),
  ".replying-1x3H0T": (
    rgba(2, 183, 87, 0.9),
    rgba(2, 183, 87, 0.05),
    rgba(2, 183, 87, 0.08)
  ),
  ".wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T)": ( // local bot message
    rgba(114, 137, 218, 0.9),
    rgba(114, 137, 218, 0.05),
    rgba(114, 137, 218, 0.08)
  )
);
@each $type, $colors in $colored-message-events {
  $side: nth($colors, 1);
  $default: nth($colors, 2);
  $hover: nth($colors, 3);
  #app-mount .message-2qnXI6 {
    &#{$type} {
      background-color: $default;
      &::before {
        background-color: $side;
      }
      &:hover {
        background-color: $hover;
      }
    }
  }
}
#app-mount .messagesWrapper-1sRNjr .groupStart-23k01U:hover {
  transition: background-color 0.75s;
}

//? No dash in channel names
@if $no-dashes >= 1 {
  .containerDefault--pIXnN > .wrapper-2jXpOf:not(.typeThread-3ESTm-) .channelName-2YrOjO, // channel list
  [aria-label="Channel header"] .title-29uC1r, // channel headers
  .content-3YMskv .emptyChannelIcon-cc932w ~ .size32-o_H79z, // header at the start of channels
  .wrapper-3WhCwL.mention:not(.iconMention-1t7gB7):not(.iconMention-O5BG9X):not([aria-label]):not(.roleMention-2Bj0ju), // mentions
  .channelTextArea-rNsIhG .placeholder-37qJjk, // text area placeholder
  #search-results .resultChannel-3BYgHX, // search
  [id^="ian"].powercord-toast .lookOutlined-3sRXeN.colorBrand-3pXr91 .flexChild-faoVW3, // In App Notifications button
  .iconSizeLarge-161qtT + .channelContainer-1x3D6I .channelName-2HcGlq, // following an announcement channel
  .inviteSettingsInviteRow-3p2O-N .user-3x-NP9 + .size12-3cLvbJ, // invite settings
  .welcomeChannel-1rFrIO .size12-3cLvbJ, // welcome screen settings 
  [data-list-item-id^="audit-log__"] strong { // audit log items
    font-family: "no dash", var(--font-primary);
  }
}
