//? Translated message tag
.message-translate-indicator {
  margin-left: 0.25rem;
  line-height: 1.375rem;
  font-size: 0.75rem;
  vertical-align: baseline;
  color: var(--text-muted);
}

//? Channel headers
section.container-ZMc96U.themed-Hp1KC_:not(.callContainer-HtHELf section) {
  height: 50px;
  border-bottom: 1px solid var(--background-secondary-alt);
  box-shadow: none;
  &::before {
    content: unset;
  }
}
.content-1jQy2l,
.tabBody-2dgbAs {
  &::before {
    content: unset;
  }
}

//? Certain popups being "scrolled" upward
.form-2oOOG9 {
  transform: translateY(10px);
}

//? XBox activity icon
.activity-1gTu-L,
.userProfileActivity-sal5no {
  .xboxAssets-aGhVw8 {
    flex-grow: 0;
  }
}
.activityUserPopout-2MzGCj {
  .buttonSize-dIiz43:first-of-type {
    width: 100%;
  }
}

//? Show all activities buttons
div.allactivities-margin {
  margin: 0;
  width: 32px;
  aspect-ratio: 1;
  // good one hellbound
  &[aria-label="Next"] {
    margin-left: 8px;
  }
  &[aria-label="Previous"] {
    margin-right: 8px;
  }
  > button {
    padding: 4px;
  }
}

//? Tab-rings
[class^="ring"][style] {
  padding: 0 !important;
  margin: 0 !important;
}

//? Chat area background height
.chat-2ZfjoI {
  .messagesWrapper-RpOMA3 > .scroller-kQBbkU {
    margin-bottom: -100px;
    .scrollerContent-2SW0kQ {
      padding-bottom: 100px;
    }
  }
  %psuedo {
    content: "";
    position: fixed;
    inset: 0;
    top: var(--top, 0);
    pointer-events: none;
    background-color: var(--background-primary);
  }
  .form-3gdLxP {
    transform: translateZ(0);
    isolation: isolate;
    .scrollableContainer-15eg7h {
      &.hasConnectedBar-1vN2JH {
        --top: 34px;
      }
      &::after {
        @extend %psuedo;
        z-index: -1;
      }
    }
    &::before {
      content: unset;
    }
  }
  .channelTextAreaDisabled-1p2fQv {
    &::after {
      @extend %psuedo;
      opacity: 0.5;
    }
    .scrollableContainer-15eg7h {
      opacity: unset;
    }
  }
}

//? Dumb margin when an activity doesn't have a description
.activityUserPopout-2MzGCj,
.activityVoiceChannel-2vojOH {
  .headerContainer-1wJjOa.marginBottom8-emkd0_ {
    margin-bottom: 0;
    + .body-u1Y8uL {
      > .content-tXPNDw:not(:empty),
      .assets-3PQvAh, .gameIcon-1siQqm,
      div[class*="allactivities"] {
        margin-top: 8px;
      }
    }
  }
}

//? Random line at the top of connected accounts
#app-mount .connectedAccounts-1YaT2t:empty::before {
  background-color: transparent;
}

//? Regional selector being Dumb in VCs
.quickSelectPopoutOption-2E2UmS:focus {
  color: unset;
  background-color: unset;
}

//? "Send Friend Request" / "Send Message" buttons shifting
[aria-label="User profile modal"] .headerTop-1PNKck {
  place-items: start;
}

//? Hide MLv2 deleted local messages
[__mlv2_deletetime].ephemeral-2nDdnn:not(.replying-eZ7p5z) {
  display: none;
}

//? Codeblocks in blockquotes being small
.messagesWrapper-RpOMA3 .blockquoteContainer-3VtvI1 {
  blockquote {
    width: 100%;
  }
}

//? Bot tag on replies
.repliedMessage-3Z6XBG {
  > div:not(.toprole-wrapper),
  > span:not(.username-h_Y3Us),
  > svg {
    order: 1;
  }
}

//? #app-mount shifting up randomly
#app-mount {
  position: fixed;
  overflow: unset;
  width: 100%;
}

//? Hide mouse when media player controls are hidden
.wrapperControlsHidden-2BK8R2 {
  cursor: none;
}

//? Make dropdowns not be scrollable
.translate-PeW1wK.didRender-2SiRlm {
  .popout-1KHNAq.scrollerBase-_bVAAt[style*="max-height:"] {
    max-height: unset !important;
  }
}

//? QuickSwitcher
.quickswitcher-pKcM9U {
  padding: 20px;
  padding-bottom: 24px;
  .scroller-2qwVWY {
    margin-right: 0;
  }
  .content-2a4AW9 {
    height: unset !important;
  }
}

//? Attach button positioning
.channelTextArea-1FufC0 {
  .sansAttachButton-1ERHue {
    padding-left: 12px;
  }
}

//? Bot tag being at the bottom
.px-MnE_OR.botTag-7aX5WZ {
  display: inline-flex;
}
