//? Translated message tag
.message-translate-indicator {
  margin-left: 0.25rem;
  line-height: 1.375rem;
  font-size: 0.75rem;
  vertical-align: baseline;
  color: var(--text-muted);
}

//? Channel headers
section.container-1r6BKw.themed-ANHk51:not(.callContainer-36WRfH section) {
  height: 50px;
  border-bottom: 1px solid var(--background-secondary-alt);
  box-shadow: none;
  &::before {
    content: unset;
  }
}
.content-yTz4x3,
.tabBody-3YRQ8W {
  &::before {
    content: unset;
  }
}

//? Certain popups being "scrolled" upward
.form-26zE04 {
  transform: translateY(10px);
}

//? XBox activity icon
.activity-2INFPu,
.userProfileActivity-Bnt1p_ {
  .xboxAssets-aGhVw8 {
    flex-grow: 0;
  }
}
.activityUserPopout-2yItg2 {
  .buttonSize-AQY2mE:first-of-type {
    width: 100%;
  }
}

//? Show all activities buttons
div.allactivities-margin {
  margin: 0;
  width: 32px;
  aspect-ratio: 1;
  // good one hellbound
  &[aria-label="Next"] {
    margin-left: 8px;
  }
  &[aria-label="Previous"] {
    margin-right: 8px;
  }
  > button {
    padding: 4px;
  }
}

//? Tab-rings
[class^="ring"][style] {
  padding: 0 !important;
  margin: 0 !important;
}

//? Download button on Rich Quotes
#a11y-hack .messageAttachment-1aDidq .downloadSection-3DLWUO {
  color: var(--interactive-normal);
  &:hover {
    color: var(--interactive-hover);
  }
}

//? Chat area background height
.chat-3bRxxu {
  .messagesWrapper-1sRNjr > .scroller-2LSbBU {
    margin-bottom: -80px;
    .scrollerContent-WzeG7R {
      padding-bottom: 80px;
    }
  }
  .form-2fGMdU {
    isolation: isolate;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 66px;
      background-color: var(--background-primary);
    }
    &::before {
      content: unset;
    }
  }
}

//? Dumb margin when an activity doesn't have a description
.activityUserPopout-2yItg2,
.activityVoiceChannel-OPU-Fm {
  .headerContainer-1_MTZL.marginBottom8-AtZOdT {
    margin-bottom: 0;
    + .body-ZAhrcj {
      > .content-3JfFJh:not(:empty),
      .assets-VMAukC, .gameIcon-_0rmMm,
      div[class*="allactivities"] {
        margin-top: 8px;
      }
    }
  }
}

//? Random line at the top of connected accounts
#app-mount .connectedAccounts-QlRa4m:empty::before {
  background-color: transparent;
}

//? Regional selector being Dumb in VCs
.quickSelectPopoutOption-opKBx9:focus {
  color: unset;
  background-color: unset;
}

//? "Send Friend Request" / "Send Message" buttons shifting
[aria-label="User profile modal"] .headerTop-547GTz {
  place-items: start;
}

//? Make the titlebar actually draggable when in fullscreen
.titleBar-AC4pGV {
  .maximized &.typeWindows-1za-n7 {
    margin-top: 0;
    padding-top: 4px;
  }
}

//? Hide MLv2 deleted local messages
[__mlv2_deletetime].ephemeral-1PsL1r:not(.replying-1x3H0T) {
  display: none;
}

//? Codeblocks in blockquotes being small
.messagesWrapper-1sRNjr .blockquoteContainer-U5TVEi {
  blockquote {
    width: 100%;
  }
}

//? Bot tag on replies
.repliedMessage-VokQwo {
  > div:not(.toprole-wrapper),
  > span:not(.username-1A8OIy),
  > svg {
    order: 1;
  }
}

//? #app-mount shifting up randomly
#app-mount {
  position: fixed;
  overflow: unset;
  width: 100%;
}

//? Hide mouse when media player controls are hidden
.wrapperControlsHidden-35Gtol {
  cursor: none;
}

//? Make dropdowns not be scrollable
.translate-2dAEQ6.didRender-33z1u8 {
  .popout-VcNcHB.scrollerBase-289Jih[style*="max-height:"] {
    max-height: unset !important;
  }
}

//? QuickSwitcher
.quickswitcher-3JagVE {
  padding: 20px;
  padding-bottom: 24px;
  .scroller-zPkAnE {
    margin-right: 0;
  }
  .content-3YMskv {
    height: unset !important;
  }
}

//? Attach button positioning
.channelTextArea-rNsIhG {
  .sansAttachButton-td2irx {
    padding-left: 12px;
  }
}

//? Bot tag being at the bottom
.px-10SIf7.botTag-2WPJ74 {
  display: inline-flex;
}
