//? Translated message tag
.message-translate-indicator {
  display: inline-block;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.375rem;
  font-weight: 450;
  color: var(--text-muted);
}

//? Channel headers
section.container-1r6BKw.themed-ANHk51:not(.callContainer-36WRfH section) {
  height: 50px;
  border-bottom: 1px solid var(--background-secondary-alt);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.content-yTz4x3,
.tabBody-3YRQ8W {
  &::before {
    display: none !important;
  }
}

//? Certain popups
.form-26zE04 {
  transform: translateY(10px);
}

//? XBox activity icon
.activity-2INFPu,
.userProfileActivity-Bnt1p_ {
  .xboxAssets-aGhVw8 {
    max-width: 60px;
    flex-grow: 0;
  }
}
.activityUserPopout-2yItg2 {
  .buttonSize-AQY2mE:first-of-type {
    width: 100%;
  }
}

//? Show all activities buttons
div[class*="allactivities"] {
  margin-top: 0;
  > button {
    padding: 0;
    height: 32px;
    width: 32px;
  }
}

//? Tab-rings
[class^="ring"][style] {
  padding: 0 !important;
  margin: 0 !important;
}

//? Download button on Rich Quotes
#a11y-hack .messageAttachment-1aDidq .downloadSection-3DLWUO {
  color: var(--interactive-normal);
  &:hover {
    color: var(--interactive-hover);
  }
}

//? Spotify attachment button
.attachWrapper-2TRKBi path.attachButtonPlay-3iJ0mf {
  fill: var(--old-green, hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%));
}

//? Chat area background height & thread suggestions
.chat-3bRxxu {
  .messagesWrapper-1sRNjr > .scroller-2LSbBU {
    margin-bottom: -27.5px;
    .scrollerContent-WzeG7R {
      padding-bottom: 27.5px;
    }
  }
  .form-2fGMdU {
    z-index: 0;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 68px;
      background-color: var(--background-primary);
    }
    &::before {
      display: none;
    }
  }
  .chatContent-a9vAAp {
    .threadSuggestionBar-2ufK2Z {
      display: none;
    }
    .container-2fRDfG[style] {
      transform: none !important;
    }
    &:not([aria-label=" (channel)"]) {
      .threadSuggestionBar-2ufK2Z {
        display: flex;
        position: absolute;
        pointer-events: none;
        .createThreadButton-oQpjNC {
          pointer-events: auto;
        }
        right: 28px;
        top: 4px;
        box-shadow: none;
        border: none;
        background-color: transparent;
        opacity: 0;
        @keyframes s {to{opacity:1;}}
        animation: s 1.5s forwards;
        animation-delay: 1.5s;
      }
      .replyBar-1YLQ2F {
        grid-template-columns: auto 1fr;
        cursor: default;
        > [role="button"] {
          cursor: default;
          span::after {
            content: "";
            position: absolute;
            margin: 0 6px;
            height: 20px;
            width: 1px;
            background-color: var(--background-modifier-accent);
          }
        }
        .actions-NlfMQc {
          display: grid;
          grid-template-columns: auto 1fr auto;
          .separator-ju-9xl {
            width: 0;
          }
        }
      }
    }
  }
}

//? Dumb margin when an activity doesn't have a description on the user popout
.activityUserPopout-2yItg2,
.activityVoiceChannel-OPU-Fm {
  .headerText-1HLrL7.marginBottom8-AtZOdT {
    margin-bottom: 0;
    + .body-ZAhrcj {
      > .content-3JfFJh:not(:empty),
      .assets-VMAukC, .gameIcon-_0rmMm,
      div[class*="allactivities"] {
        margin-top: 8px;
      }
    }
  }
}

//? Random line at the top of connected accounts
#app-mount .connectedAccounts-QlRa4m:empty::before {
  background-color: transparent;
}

//? Regional selector being Dumb in VCs
.quickSelectPopoutOption-opKBx9:focus {
  color: unset;
  background-color: unset;
}

//? Remove the no roles margin
[aria-label="No roles"] {
  margin-bottom: 4px;
}

//? "Send Friend Request" / "Send Message" buttons shifting
[aria-label="User profile modal"] .headerTop-547GTz {
  place-items: start;
}

//? Loading banner background color
.bannerPremium-2hSAwz:not(.settingsBanner-15-pZk) {
  background-color: var(--brand-experiment) !important;
}

//? Stuff clipping over the top of the titlebar
.backdrop-1wrmKB,
.layerContainer-yqaFcK,
.biv-overlay {
  top: 4px;
  overflow: hidden;
}

//? MLV2 edited message reply (great fix i know)
.repliedTextContent-1R3vnK [aria-label^="Edited: "] {
  display: none;
}

//? Codeblocks in blockquotes being small
.blockquoteContainer-U5TVEi {
  blockquote {
    width: 100%;
  }
}
