//? Improved spotify modal
.powercord-spotify {
  border-top: 1px solid var(--background-secondary);
  border-bottom: 1px solid var(--background-secondary);
  .subtext-3CDbHg {
    text-indent: -15px;
  }
  [aria-label="Not seeing controls?"] {
    display: none;
  }
  .spotify-seek {
    padding: 0 10px 15px;
    .spotify-seek-bar {
      background-color: var(--background-primary);
    }
    .spotify-seek-elements {
      margin: 4px -3px 0;
      font-size: 70%;
      color: hsl(0, 0%, 70%);
    }
  }
}

//? Message slide
@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.message-2qnXI6 {
  animation: slide 0.3s ease;
}

//? User area buttons bounce
.button-14-BFJ {
  color: white;
  transition: 0.2s;
  &:hover {
    padding-bottom: 5px;
  }
}

//? Colored channel indicators
//* nsfw indicator
/* announcement channel */ [d="M20.4683 4.76211L22.8094 9.51661C23.1366 10.1813 22.6554 10.9601 21.9174 10.9601L17.2104 10.9601C16.4706 10.9601 15.9894 10.1778 16.3203 9.51286L18.6861 4.75836C19.0537 4.01957 20.1037 4.02179 20.4683 4.76211ZM19.0833 5.96007H20.0786V8.46007H19.0834L19.0833 5.96007ZM19.0833 9.45894C19.0833 9.73596 19.3063 9.96007 19.5809 9.96007C19.8556 9.96007 20.0786 9.73596 20.0786 9.45894C20.0786 9.18231 19.8556 8.9578 19.5809 8.9578C19.3063 8.9578 19.0833 9.18231 19.0833 9.45894Z"],
/* normal channel */ [d="M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z"] {
  color: hsl(37.8, calc(var(--saturation-factor, 1) * 81%), 49.3%); // #e49818
}
//* locked indicator
/* stage channel */ [d="M22.025 2V3C22.5635 3 23 3.43652 23 3.975V7C23 7.55228 22.5523 8 22 8H18C17.4477 8 17 7.55228 17 7V4C17 3.44772 17.4477 3 18 3V2C18 0.88 18.95 0 20 0C21.05 0 22.025 0.88 22.025 2ZM19 3H21V2C21 1.42857 20.5333 1 20 1C19.4667 1 19 1.42857 19 2V3Z"],
/* announcement channel */ [d="M22.545 4.87988V5.87988H23.28C23.4126 5.87988 23.52 5.98733 23.52 6.11988V10.6399C23.52 10.7724 23.4126 10.8799 23.28 10.8799H17.76C17.6275 10.8799 17.52 10.7724 17.52 10.6399V6.11988C17.52 5.98733 17.6275 5.87988 17.76 5.87988H18.52V4.87988C18.52 3.75988 19.47 2.87988 20.52 2.87988C21.57 2.87988 22.545 3.75988 22.545 4.87988ZM19.52 5.87988H21.52V4.87988C21.52 4.30845 21.0534 3.87988 20.52 3.87988C19.9867 3.87988 19.52 4.30845 19.52 4.87988V5.87988Z"],
/* normal channel */ [d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] {
  color: hsl(360, calc(var(--saturation-factor, 1) * 54.5%), 41.5%); // #a33030
}

//? Better bot tag
.px-10SIf7.botTag-2WPJ74,
.rem-2m9HGf.botTag-2WPJ74 {
  transition: 0.5s;
  background-color: rgba(114, 137, 218, 0.1) !important;
  color: var(--brand-experiment) !important;
  &:hover {
    color: white !important;
  }
}

//? Revert switches
svg.slider-TkfMQL svg {
  display: none;
}
.container-3auIfb:not([style*="hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)"]) {
  background-color: var(--brand-experiment) !important;
  transition: 0.6s;
}

//? Revert autocomplete
.contentTitle-2tG_sM {
  color: var(--text-muted);
}
.autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu {
  font-weight: inherit;
  font-size: 100%;
  line-height: auto;
}
.autocompleteRowContentSecondary-1tgI-F {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
}

//? Better emoji button
.emojiButton-3uL3Aw {
  .sprite-2iCowe {
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiAyQzYuNDc3IDIgMiA2LjQ3NyAyIDEyQzIgMTcuNTIyIDYuNDc3IDIyIDEyIDIyQzE3LjUyMyAyMiAyMiAxNy41MjIgMjIgMTJDMjIgNi40NzcgMTcuNTIzIDIgMTIgMlpNOCA2QzkuMTA0IDYgMTAgNi44OTYgMTAgOEMxMCA5LjEwNSA5LjEwNCAxMCA4IDEwQzYuODk2IDEwIDYgOS4xMDUgNiA4QzYgNi44OTYgNi44OTYgNiA4IDZaTTE4IDE0QzE4IDE2LjYxNyAxNS4xNCAxOSAxMiAxOUM4Ljg2IDE5IDYgMTYuNjE3IDYgMTRWMTNIMThWMTRaTTE2IDEwQzE0Ljg5NiAxMCAxNCA5LjEwNSAxNCA4QzE0IDYuODk2IDE0Ljg5NiA2IDE2IDZDMTcuMTA0IDYgMTggNi44OTYgMTggOEMxOCA5LjEwNSAxNy4xMDQgMTAgMTYgMTBaIj48L3BhdGg+Cjwvc3ZnPg==)
      center no-repeat;
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiAyQzYuNDc3IDIgMiA2LjQ3NyAyIDEyQzIgMTcuNTIyIDYuNDc3IDIyIDEyIDIyQzE3LjUyMyAyMiAyMiAxNy41MjIgMjIgMTJDMjIgNi40NzcgMTcuNTIzIDIgMTIgMlpNOCA2QzkuMTA0IDYgMTAgNi44OTYgMTAgOEMxMCA5LjEwNSA5LjEwNCAxMCA4IDEwQzYuODk2IDEwIDYgOS4xMDUgNiA4QzYgNi44OTYgNi44OTYgNiA4IDZaTTE4IDE0QzE4IDE2LjYxNyAxNS4xNCAxOSAxMiAxOUM4Ljg2IDE5IDYgMTYuNjE3IDYgMTRWMTNIMThWMTRaTTE2IDEwQzE0Ljg5NiAxMCAxNCA5LjEwNSAxNCA4QzE0IDYuODk2IDE0Ljg5NiA2IDE2IDZDMTcuMTA0IDYgMTggNi44OTYgMTggOEMxOCA5LjEwNSAxNy4xMDQgMTAgMTYgMTBaIj48L3BhdGg+Cjwvc3ZnPg==)
      center no-repeat;
    transform: none !important;
    background: var(--interactive-normal);
  }
  &.emojiButtonHovered-1rWNal {
    .sprite-2iCowe {
      background: var(--interactive-hover);
    }
  }
}

//? Better notifications
.powercord-toast {
  .header {
    box-shadow: 0 20px 15px 2.5px var(--toast-header) !important;
  }
  .lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: var(--brand-experiment);
    background-color: var(--brand-experiment-05a);
    &:hover {
      background-color: var(--brand-experiment-10a);
    }
  }
  div.ian-toast,
  .ian-toast div {
    text-align: center;
    justify-content: center;
    .ian-simple-embed-color {
      display: none;
    }
  }
}

//? Topbar button spacing
.toolbar-1t6TWx {
  .iconWrapper-2OrFZ1 {
    margin: 0 $topbar-button-spacing * 0.75;
  }
  [aria-label="Inbox"],
  [aria-label="Update Ready!"] {
    margin: 0 $topbar-button-spacing / 5 0 $topbar-button-spacing / 4;
  }
  [aria-label="Notebook"] > div {
    margin: 0 $topbar-button-spacing * -0.5 0 $topbar-button-spacing * 0.5;
  }
  [aria-label="Toggle Channel Lock"] {
    margin: 0 $topbar-button-spacing * 0.025 0 $topbar-button-spacing * -0.334;
  }
  .search-36MZv- {
    margin: 0 $topbar-button-spacing / 3 0 $topbar-button-spacing - $topbar-button-spacing * 0.25;
  }
}

//? Topbar pill
.toolbar-1t6TWx {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px 0 0 20px;
  padding: 17.5px 5px;
  height: 0;
  padding-right: 2px;
  transform: translateX(8px);
}

//? Topbar improvements
.input-2A_zIr,
.input-2A_zIr:hover {
  margin-top: 1px;
}
.divider-3FBTu8 {
  width: 2.5px;
  height: 20px;
  margin: 0 4px;
}
.topic-TCb_qw,
.title-29uC1r,
.title-29uC1r:hover,
.icon-22AiRD,
svg.icon-22AiRD:hover,
svg.icon-3cZ1F_ > path {
  color: var(--interactive-hover);
}
.status-1XNdyw {
  > div,
  h3 {
    filter: brightness(1.5) !important;
  }
}
.searchBar-3dMhjb,
.libraryFilter-31ZUa2 {
  width: 240px;
}

//? Shiki codeblocks improvements or something
#a11y-hack {
  code {
    max-width: 356px;
    max-height: unset !important;
  }
  .vpc-shiki {
    border: 1.5px solid var(--background-tertiary);
    max-width: 356px;
    max-height: unset !important;
  }
}
.markup-2BOw-j code {
  border: none;
}

//? Blurple sidebar buttons
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--brand-experiment);
  &.selected-1JjBPm {
    background-color: var(--brand-experiment);
    path {
      fill: white;
    }
  }
}

//? When the edited message is Sus
.edited-3sfAzf:not(.message-translate-indicator), // Main tag
[aria-label*="Edited:"] time { // MLV2 tag
  font-size: 0 !important;
  &:after {
    content: " (sus)";
    font-size: 0.625rem;
  }
}

//? Bigger emojis when hovering over reactions
.reactionTooltipEmoji-3LG0v8 {
  --bet-size: 150px;
  height: var(--bet-size);
  width: var(--bet-size);
  min-height: var(--bet-size);
  margin-bottom: 4px;
  margin-right: 0;
}
.reactionTooltipContent-2TwEIL {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 8px;
}
.reactionTooltip-3pvwwY {
  max-width: 176px;
}

//? Always colored status
#now-playing-menu,
#status-picker {
  [mask="url(#svg-mask-status-online)"] {
    fill: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%) !important;
    color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%) !important;
  }
  [mask="url(#svg-mask-status-idle)"] {
    fill: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%) !important;
    color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%) !important;
  }
  [mask="url(#svg-mask-status-dnd)"] {
    fill: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%) !important;
    color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%) !important;
  }
  [mask="url(#svg-mask-status-offline)"] {
    fill: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);
    color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);
  }
}

//? Rainbow mentions
@keyframes rainbowmention {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.wrapper-3WhCwL,
.message-15tBk4 strong {
  color: #1aecff !important;
  background-color: transparent !important;
  animation: rainbowmention 10s infinite linear;
  transition: 150ms;
  &:hover {
    color: white !important;
  }
}
.roleMention-2Bj0ju {
  background-color: transparent !important;
}

//? Translucent context menu
.menu-3sdvDG {
  overflow: hidden;
  background-color: transparent;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 10%, 0.7);
  }
}

//? Make some text "unselectable"
.timestamp-3ZCmNB,
.botTag-1un5a6,
.vpc-shiki-lang {
  user-select: none;
}
