//? Settings divider
.item-PXvHYJ[data-item-id="pc-updater"] {
  align-items: unset !important;
  overflow: visible;
  margin-bottom: 47px;
  &::after {
    content: "Plugin Settings";
    position: absolute;
    pointer-events: none;
    margin-top: 42px;
    inset: 0 10px;
    line-height: 46px;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    text-transform: uppercase;
    border-top: 1px solid var(--background-modifier-accent);
    color: var(--channels-default);
  }
}

//? Colored permissions in settings
$colored-permissions: (
  ".deny-3nAuT6": #f04747,
  ".passthrough-1c2ewQ": #faa61a,
  ".allow-1PzSY3": #43b581,
);
@each $class, $color in $colored-permissions {
  #app-mount {
    #{$class} {
      color: $color;
      &:hover {
        color: white;
        background-color: color.adjust($color, $lightness: 5%, $saturation: 2.5%) !important;
      }
      &.selected-2YhbGh {
        color: white;
        background-color: $color !important;
      }
    }
  }
}

//? Improved spotify modal
.powercord-spotify {
  border-top: 1px solid var(--background-secondary);
  border-bottom: 1px solid var(--background-secondary);
  .subtext-3CDbHg {
    text-indent: -15px;
  }
  .alignStretch-DpGPf3 > button:only-of-type {
    display: none;
  }
  .spotify-seek {
    padding: 0 10px 15px;
    .spotify-seek-bar {
      background-color: var(--background-primary);
    }
    .spotify-seek-elements {
      margin: 4px -3px 0;
      font-size: 70%;
      color: hsl(0, 0%, 70%);
    }
  }
}

//? User area buttons bounce
.button-14-BFJ {
  color: var(--interactive-active);
  transition: padding-bottom 0.2s;
  &:hover {
    padding-bottom: 5px;
  }
}

//? Colored channel indicators
//* nsfw indicator
/* announcement channel */ [d="M20.4683 4.76211L22.8094 9.51661C23.1366 10.1813 22.6554 10.9601 21.9174 10.9601L17.2104 10.9601C16.4706 10.9601 15.9894 10.1778 16.3203 9.51286L18.6861 4.75836C19.0537 4.01957 20.1037 4.02179 20.4683 4.76211ZM19.0833 5.96007H20.0786V8.46007H19.0834L19.0833 5.96007ZM19.0833 9.45894C19.0833 9.73596 19.3063 9.96007 19.5809 9.96007C19.8556 9.96007 20.0786 9.73596 20.0786 9.45894C20.0786 9.18231 19.8556 8.9578 19.5809 8.9578C19.3063 8.9578 19.0833 9.18231 19.0833 9.45894Z"],
/* announcement thread channel */ [d="M20.4681 4.76205L22.8092 9.51655C23.1365 10.1812 22.6552 10.96 21.9172 10.96L17.2103 10.96C16.4705 10.96 15.9893 10.1777 16.3201 9.5128L18.686 4.75829C19.0536 4.01951 20.1036 4.02173 20.4681 4.76205ZM19.0832 5.96001H20.0785V8.46001H19.0832L19.0832 5.96001ZM19.0832 9.45888C19.0832 9.7359 19.3061 9.96001 19.5808 9.96001C19.8555 9.96001 20.0784 9.7359 20.0784 9.45888C20.0784 9.18225 19.8555 8.95774 19.5808 8.95774C19.3061 8.95774 19.0832 9.18225 19.0832 9.45888Z"],
/* normal channel */ [d="M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z"],
/* normal thread channel */ [d="M22.8093 8.55658L20.4681 3.80208C20.1036 3.06176 19.0536 3.05954 18.686 3.79833L16.3201 8.55283C15.9893 9.21773 16.4705 10 17.2103 10L21.9173 10C22.6553 10 23.1365 9.22122 22.8093 8.55658ZM20.0785 5.00004H19.0832L19.0833 7.50004H20.0785V5.00004ZM19.5808 9.00004C19.3061 9.00004 19.0832 8.77593 19.0832 8.49891C19.0832 8.22228 19.3061 7.99777 19.5808 7.99777C19.8555 7.99777 20.0785 8.22228 20.0785 8.49891C20.0785 8.77593 19.8555 9.00004 19.5808 9.00004Z"] {
  color: var(--qs-yellow1);
}
//* locked indicator
/* stage channel */ [d="M22.025 2V3C22.5635 3 23 3.43652 23 3.975V7C23 7.55228 22.5523 8 22 8H18C17.4477 8 17 7.55228 17 7V4C17 3.44772 17.4477 3 18 3V2C18 0.88 18.95 0 20 0C21.05 0 22.025 0.88 22.025 2ZM19 3H21V2C21 1.42857 20.5333 1 20 1C19.4667 1 19 1.42857 19 2V3Z"],
/* announcement channel */ [d="M22.545 4.87988V5.87988H23.28C23.4126 5.87988 23.52 5.98733 23.52 6.11988V10.6399C23.52 10.7724 23.4126 10.8799 23.28 10.8799H17.76C17.6275 10.8799 17.52 10.7724 17.52 10.6399V6.11988C17.52 5.98733 17.6275 5.87988 17.76 5.87988H18.52V4.87988C18.52 3.75988 19.47 2.87988 20.52 2.87988C21.57 2.87988 22.545 3.75988 22.545 4.87988ZM19.52 5.87988H21.52V4.87988C21.52 4.30845 21.0534 3.87988 20.52 3.87988C19.9867 3.87988 19.52 4.30845 19.52 4.87988V5.87988Z"],
/* announcement thread channel */ [d="M22.545 4.88V5.88H23.28C23.4126 5.88 23.52 5.98746 23.52 6.12001V10.64C23.52 10.7726 23.4126 10.88 23.28 10.88H17.76C17.6275 10.88 17.52 10.7726 17.52 10.64V6.12C17.52 5.98746 17.6275 5.88 17.76 5.88H18.52V4.88C18.52 3.76 19.47 2.88 20.52 2.88C21.57 2.88 22.545 3.76 22.545 4.88ZM19.52 5.88H21.52V4.88C21.52 4.30858 21.0534 3.88 20.52 3.88C19.9867 3.88 19.52 4.30858 19.52 4.88V5.88Z"],
/* normal channel */ [d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
/* normal thread channel */ [d="M22.545 4.91992V3.91992C22.545 2.79992 21.57 1.91992 20.52 1.91992C19.47 1.91992 18.52 2.79992 18.52 3.91992V4.91992H17.76C17.6275 4.91992 17.52 5.02737 17.52 5.15992V9.67992C17.52 9.81247 17.6275 9.91992 17.76 9.91992H23.28C23.4126 9.91992 23.52 9.81247 23.52 9.67992V5.15992C23.52 5.02737 23.4126 4.91992 23.28 4.91992H22.545ZM21.52 4.91992H19.52V3.91992C19.52 3.34849 19.9867 2.91992 20.52 2.91992C21.0533 2.91992 21.52 3.34849 21.52 3.91992V4.91992Z"] {
  color: var(--qs-red);
}

//? Nicer bot tag
.botTagRegular-2HEhHi {
  transition: color 0.5s;
  background-color: var(--background-modifier-accent);
  color: var(--brand-experiment);
  &:hover {
    color: white;
  }
}

//? Revert autocomplete
.contentTitle-2tG_sM {
  color: var(--text-muted);
}
.autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu {
  font-weight: inherit;
  font-size: 100%;
  line-height: auto;
}
.autocompleteRowContentSecondary-1tgI-F {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
}

//? Better emoji button
.emojiButton-3uL3Aw {
  .sprite-2iCowe {
    $mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiAyQzYuNDc3IDIgMiA2LjQ3NyAyIDEyQzIgMTcuNTIyIDYuNDc3IDIyIDEyIDIyQzE3LjUyMyAyMiAyMiAxNy41MjIgMjIgMTJDMjIgNi40NzcgMTcuNTIzIDIgMTIgMlpNOCA2QzkuMTA0IDYgMTAgNi44OTYgMTAgOEMxMCA5LjEwNSA5LjEwNCAxMCA4IDEwQzYuODk2IDEwIDYgOS4xMDUgNiA4QzYgNi44OTYgNi44OTYgNiA4IDZaTTE4IDE0QzE4IDE2LjYxNyAxNS4xNCAxOSAxMiAxOUM4Ljg2IDE5IDYgMTYuNjE3IDYgMTRWMTNIMThWMTRaTTE2IDEwQzE0Ljg5NiAxMCAxNCA5LjEwNSAxNCA4QzE0IDYuODk2IDE0Ljg5NiA2IDE2IDZDMTcuMTA0IDYgMTggNi44OTYgMTggOEMxOCA5LjEwNSAxNy4xMDQgMTAgMTYgMTBaIj48L3BhdGg+Cjwvc3ZnPg==) center no-repeat;
    -webkit-mask: $mask;
    mask: $mask;
    transform: none !important;
    background: var(--interactive-normal);
  }
  &.emojiButtonHovered-1rWNal,
  &:active {
    .sprite-2iCowe {
      background: var(--interactive-active);
    }
  }
}

//? Center text on "In App Notifications"
div.ian-toast,
.ian-toast div {
  text-align: center;
  justify-content: center;
  .ian-simple-embed-color {
    display: none;
  }
}

.toolbar-1t6TWx {
  //? Topbar pill
  &:not(.transparent-2ZlE3R > div) {
    background-color: var(--background-secondary-alt);
    border-radius: 20px 0 0 20px;
    padding: 18px 4px;
    height: 0;
    padding-right: 8px;
    transform: translateX(8px);
  }

  //? Topbar button spacing
  // TODO: rewrite this
  .iconWrapper-2OrFZ1 {
    margin: 0 $topbar-button-spacing * 0.75;
  }
  [aria-label="Inbox"],
  [aria-label="Update ready!"] {
    margin: 0 $topbar-button-spacing / 5 0 $topbar-button-spacing / 4;
  }
  [aria-label="Notebook"] > div {
    margin: 0 $topbar-button-spacing * -0.5 0 $topbar-button-spacing * 0.5;
  }
  [aria-label="Toggle Channel Lock"] {
    margin: 0 $topbar-button-spacing * 0.025 0 $topbar-button-spacing * -0.334;
  }
  .search-36MZv- {
    margin: 0 $topbar-button-spacing / 3 0 $topbar-button-spacing - $topbar-button-spacing * 0.25;
  }
}

//? Topbar improvements
.title-3qD0b-.container-1r6BKw {
  .divider-3FBTu8 {
    width: 2.5px;
    height: 20px;
    margin: 0 4px;
  }
  .icon-22AiRD,
  .icon-3cZ1F_ {
    color: var(--header-primary);
  }
  .searchBar-3dMhjb,
  .libraryFilter-31ZUa2 {
    resize: horizontal;
    min-width: 144px;
    width: 240px;
    max-width: 780px;
  }
  .focused-31_ccS {
    .searchBar-3dMhjb,
    .libraryFilter-31ZUa2 {
      min-width: 240px;
    }
  }
}

//? When the edited message is Sus
#app-mount {
  .edited-3sfAzf:not(.message-translate-indicator),
  .ml2-edited time {
    font-size: 0;
    &:after {
      content: " (sus)";
      font-size: 0.625rem;
    }
  }
}

//? Always colored status
$colored-status: (
  "online": hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%),
  "idle": hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%),
  "dnd": hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%),
  "offline": hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)
);
@each $status, $color in $colored-status {
  #now-playing-menu {
    [mask="url(#svg-mask-status-#{$status})"] {
      fill: $color !important;
    }
  }
  #status-picker {
    [mask="url(#svg-mask-status-#{$status})"] {
      color: $color;
    }
  }
}

//? Make the "Voice connected" text color change depending on your connection
.rtcConnectionQualityAverage-3KV0u- .rtcConnectionStatusConnected-VRZDjy {
  color: var(--text-warning);
}
.rtcConnectionQualityBad-1J7mUU .rtcConnectionStatusConnected-VRZDjy {
  color: var(--text-danger);
}

//? Rainbow mentions
@keyframes rainbow{from{filter:hue-rotate(0deg)}to{filter:hue-rotate(360deg)}}
.wrapper-3WhCwL:not(.roleMention-2Bj0ju[style]):not([style*="; color: "]),
.message-15tBk4 strong {
  color: hsl(185, calc(var(--saturation-factor, 1) * 100%), 55%);
  animation: rainbow 10s infinite linear;
}
#app-mount .wrapper-3WhCwL,
.message-15tBk4 strong {
  background: transparent !important;
  transition: color 0.15s;
  &:hover {
    color: white !important;
    text-decoration: none;
  }
}

//? Translucent context menu
.menu-3sdvDG {
  background-color: transparent;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    backdrop-filter: blur(clamp(2px, 4px, 24px));
    filter: opacity(0.75);
    background-color: var(--background-tertiary);
  }
}

//? Make some text unselectable
.timestamp-3ZCmNB,
.botTag-1un5a6,
.vpc-shiki-lang {
  user-select: none;
}

//? Better thread suggestions
@keyframes appear {
  to {
    opacity: 1;
  }
}
.chatContent-a9vAAp {
  .threadSuggestionBar-2ufK2Z {
    display: none;
  }
  .container-2fRDfG[style] {
    transform: none !important;
  }
  &:not([aria-label=" (channel)"]) {
    .threadSuggestionBar-2ufK2Z {
      display: flex;
      position: absolute;
      pointer-events: none;
      right: 32px;
      top: 4px;
      border: none;
      background-color: transparent;
      box-shadow: none;
      opacity: 0;
      animation: appear 1500ms forwards;
      animation-delay: 1500ms;
      .createThreadButton-oQpjNC {
        pointer-events: auto;
      }
    }
    .replyBar-1YLQ2F {
      grid-template-columns: auto 1fr;
      cursor: default;
      .actions-NlfMQc {
        display: grid;
        grid-template-columns: 1fr auto;
        .separator-ju-9xl {
          display: none;
        }
        > [role="switch"] {
          width: fit-content;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            cursor: pointer;
            left: 0.325em;
            top: 7px;
            bottom: 7px;
            width: 1px;
            background-color: var(--background-modifier-accent);
          }
        }
        .closeButton-37O8QC {
          place-self: end;
        }
      }
    }
  }
}

//? Make online friends counter look nicer
div.onlineFriends-counter {
  margin-inline: 12px;
  width: 100%;
  font-size: 12px;
}

//? Replace the MLv2 icon
[d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z"] {
  d: path("m134.40286,0c-27.73583,0 -51.21292,23.4771 -51.21292,51.21292l0,409.62017c0,27.73583 23.4771,51.21292 51.21292,51.21292l307.19433,0c27.73583,0 51.21292,-23.4771 51.21292,-51.21292l0,-307.23593l-153.59716,-153.59716l-204.81009,0zm179.18282,38.42009l140.84594,140.80433l-140.84594,0l0,-140.80433zm-128.0115,217.60292l204.85169,0l0,51.21292l-204.85169,0l0,-51.21292zm0,102.42585l204.85169,0l0,51.17132l-204.85169,0l0,-51.17132z");
}

//? Make jumped messages have a pin icon
.backgroundFlash-24qWLN .wrapper-2a6GCs {
  &.isSystemMessage-2MkNHd {
    .messageContent-2qWWxC:not(.repliedMessage-VokQwo div) {
      display: flex;
    }
  }
  .messageContent-2qWWxC:not(.repliedMessage-VokQwo div) {
    &::after {
      content: "";
      display: inline-block;
      vertical-align: -10%;
      width: 1em;
      aspect-ratio: 1/1;
      margin-left: 0.4em;
      $mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3E%3Cpath d='M24 12.4 11.6 0 9.8 1.8l1.8 1.8-6.3 6.2L3.6 8 1.8 9.8l5.3 5.3L0 22.2 1.8 24l7.1-7.1 5.3 5.3 1.8-1.8-1.8-1.8 6.2-6.2 1.8 1.8 1.8-1.8z'/%3E%3C/svg%3E");
      -webkit-mask: {
        image: $mask;
        size: 100%;
        position: center;
        repeat: no-repeat;
      }
      mask: {
        image: $mask;
        size: 100%;
        position: center;
        repeat: no-repeat;
      }
      background-color: var(--text-muted);
    }
  }
}

//? Bigger avatars in calls
.participant-1lOCsd {
  &,
  .wrapper-2QE8vf,
  .callAvatarMask-1SLlRi {
    width: 96px !important;
    height: 96px !important;
  }
}

//? Round top left border
.content-98HsJk {
  .threadSidebarOpen-vdkwIh,
  .sidebar-2K8pFh {
    border-radius: unset;
    border-top-right-radius: $top-left-corner-roundedness;
  }
  > div:not(.sidebar-2K8pFh) {
    border-top-left-radius: $top-left-corner-roundedness;
  }
}
.standardSidebarView-3F1I7i { // Settings
  background-color: var(--background-secondary);
  .contentRegionScroller-26nc1e {
    background-color: transparent;
  }
  .sidebarRegionScroller-3MXcoP {
    &::-webkit-scrollbar-track {
      margin-top: $top-left-corner-roundedness * 1.125
    }
  }
  .contentRegion-3nDuYy {
    border-top-left-radius: $top-left-corner-roundedness;
  }
}

//? Thinner scrollbar
.auto-Ge5KZx {
  &::-webkit-scrollbar {
    width: 4px !important;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border: none !important;
  }
}

//? Make the titlebar have a solid background color
div.typeWindows-1za-n7 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: var(--background-secondary);
  }
}
