//? Notes
.rolesList-1geHY1 { // popout
  ~ .note-1oo11U,
  ~ h3 {
    display: none;
  }
}
.bodyInnerWrapper-26fQXj {
  margin-bottom: -4px;
  > h3:last-of-type,
  .note-1oo11U {
    display: none;
  }
}
.userInfoSection-q_35fn:not(.colorStandard-2KCXvj) { // modal
  > h3:last-of-type,
  .note-367eZJ {
    display: none;
  }
}

//? Misc
.setIdentityLink-1t8Ahd, //* "Set a server nickname" on user popouts
#user-context-invite-to-server, //* Invite to server context menu button when right clicking on users
#message.menu-3sdvDG .wrapper-3_530D, //* Quick reactions on context menus
.wumpusWrapper-2H_Ezt, //* New user wumpus
.menu-3sdvDG .separator-2I32lJ, //* Context menu seperators
#status-picker .description-2L932D, //* Status descriptions

//? Topbar
[aria-label="Hide Member List"], //* "Hide member list" button
a[href="https://support.discord.com"], //* Help button

//? Chat area
[aria-label="Send a gift"], //* Gift button
//[aria-label="Open GIF picker"], //* GIF button
[aria-label="Open sticker picker"], //* Sticker button
#DONT-DISABLE-THIS {
  display: none;
}
