.sidebar-1tnWFu > .scrollerBase-_bVAAt {
  .categoryItem-Kc_HK_ {
    margin-bottom: 2px;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 20px;
    &:not(.selectedCategoryItem-ZjqSui) {
      cursor: pointer;
    }
    &:hover {
      background-color: var(--background-modifier-hover);
    }
    &.selectedCategoryItem-ZjqSui,
    &:active {
      color: var(--interactive-active);
      background-color: var(--brand-experiment);
    }
    &:active {
      filter: brightness(0.825);
    }

    > div {
      all: unset;
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .avatar-6qzftW {
      all: unset;
      display: flex;
    }
  }
}

.pageWrapper-2PwDoS {
  // header
  .searchHeader-3ZIh2x {
    min-height: unset;
    margin-top: 32px;
  }
  .headerImage-2D5D-v {
    display: none;
  }
  .headerContentWrapper-1u9R_E {
    all: revert;
    width: 100%;
    height: 100%;
  }
  .headerContent-2Z-1wE {
    all: revert;
  }
  .searchSubtitle-C5P4gh {
    display: none;
  }
  .container-2rCwVJ:not(.searchPage-3tt6dh) > .search-25t1e9 {
    max-width: 85%;
    margin: auto;
  }

  // main
  .viewWrapper-2sTW6t {
    max-width: unset;
  }
  h3.size20-9iTTnl {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: 48px 0 16px;
  }
  .guildList-3GXKvP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      width: 248px;
    }
  }

  // search results
  .container-2rCwVJ,
  .categories-2LoSbA {
    justify-content: center;
  }
  .search-25t1e9,
  .categories-2LoSbA {
    max-width: 85%;
  }
  .results-1Lsvf8 {
    &,
    .guildList-QjZKeK {
      max-width: unset;
    }
    .guildList-QjZKeK {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      > div {
        width: 248px
      }
    }
    .card-1rhKXq {
      overflow: hidden;
      border-radius: 8px;
      background-color: var(--background-secondary-alt);
      transition: box-shadow .2s ease-out,
                  transform .2s ease-out,
                  background-color .2s ease-out,
                  opacity .2s ease-in;
      &:hover {
        background-color: var(--background-tertiary);
        transform: translateY(-1px);
        box-shadow: var(--elevation-high);
      }
      .container-2R6xAU {
        flex-direction: column;
        gap: 32px;
      }
      .splashContainer-2PC_Bm {
        height: 143px;
        margin: unset;
        border-radius: unset;
      }
      .splashImage-1UBFEm {
        width: 100%;
        transform: unset;
      }
      .content-3Xrx5s {
        padding: 0 16px 16px;
        width: unset;
      }
      .header-3m4_6U {
        > svg {
          position: absolute;
          width: 40px;
          height: unset;
          aspect-ratio: 1;
          margin-top: -(32px + 40px / 1.5);
          border-radius: 18px;
          border: 4px solid var(--background-secondary-alt);
        }
        &, .headerName-1IcEWM, h3 {
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    hr {
      display: none;
    }
  }
}
