.layers-3q14ss {
  .baseLayer-35bLyl[style*="translateZ"] {
    opacity: unset !important;
    transform: unset !important;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 100;
      transition: opacity 200ms;
      opacity: 0.85;
      background-color: black;
    }
    @for $i from 1 through 10 {
      &[style*="transform: scale(#{$i / 10})"]::after {
        opacity: $i / 24;
      }
    }
  }
  .layer-3QrUeG[aria-label] {
    inset: 11%;
    z-index: 101;
    border-radius: 4px;
    background-color: unset;
    .standardSidebarView-3F1I7i {
      border-radius: inherit;
    }
    .toolsContainer-1edPuj {
      position: fixed;
      inset: 0;
      width: unset;
      z-index: -1;
    }
    .tools-3-3s-N {
      position: static;
      .keybind-KpFkfr {
        display: none;
      }
    }
    .closeButton-1tv5uR {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      opacity: 0;
      cursor: auto;
    }
  }
}
