//? Server sidebar color
.guilds-1SWlCJ .scrollerBase-289Jih,
#app-mount, .bg-h5JY_x { // titlebar
  background-color: var(--background-secondary);
}

[aria-label="Servers"] {
  //? Server folders
  .expandedFolderBackground-1cujaW,
  .folder-1hbNCn {
    background-color: var(--background-tertiary) !important;
    transition: background-color 0.3s;
    &.hover-qTxTR_ {
      background-color: var(--background-secondary-alt);
    }
  }
  .expandedFolderIconWrapper-Huv7rA,
  .folderIconWrapper-1_bOZe {
    background-color: transparent !important;
    > svg {
      color: var(--brand-experiment) !important;
    }
  }
  //? Explanded folder background width
  .wrapper-3Njo_c {
    display: grid;
    place-items: center;
    .expandedFolderBackground-1cujaW {
      width: 42px;
      left: unset;
    }
  }
}
