.sidebar-CFHs9e {
  .side-8zPYf6 {
    [aria-controls] {
      padding-left: 2.3em;
      text-transform: capitalize;
      color: var(--color, var(--interactive-normal));
      &.selected-3s45Ha,
      &:active {
        color: white !important;
        background-color: var(--color, var(--brand-experiment)) !important;
      }
      &:active {
        filter: brightness(0.825);
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0 8px;
        width: 1.3em;
                mask: url("https://rawcdn.githack.com/mwittrien/BetterDiscordAddons/68a9db3bc0b39643d4ac87dfb7e96da38eb8ecdd/Themes/_res/svgs/settingsicons/questionmark.svg") center/contain no-repeat;
        -webkit-mask: url("https://rawcdn.githack.com/mwittrien/BetterDiscordAddons/68a9db3bc0b39643d4ac87dfb7e96da38eb8ecdd/Themes/_res/svgs/settingsicons/questionmark.svg") center/contain no-repeat;
        background-color: currentColor;
      }
      .icon-Zc-uZZ, // user settings
      .icon-3Povsy { // server settings
        display: none;
      }
    }
  }
}

$icons: (
  //? User settings
  //* USER SETTINGS
  "My Account": "account",
  "Profile Customization": "profile",
  "Privacy & Safety": "privacy",
  "Authorized Apps": "apps",
  "Connections": "connections",
  
  //* PAYMENT SETTINGS
  "Subscriptions": "subscriptions",
  "Discord Nitro": "nitro",
  "Nitro Server Boost": "boosts",
  "Library Inventory": "gift",
  "Billing": "billing",
  
  //* APP SETTINGS
  "Appearance": "appearance",
  "Accessibility": "accessibility",
  "Voice & Video": "voice",
  "Text & Images": "text",
  "Notifications": "notifications",
  "Keybinds": "keybinds",
  "Language": "language",
  "Windows": "windows",
  "Streamer Mode": "streamermode",
  "Advanced": "advanced",
  
  //* ACTIVITY SETTINGS
  "Game Activity": "games",
  "Overlay": "overlay",
  
  //* POWERCORD
  "pc-general": "settings",
  "pc-moduleManager-plugins": "plugins",
  "pc-moduleManager-themes": "themes",
  "pc-updater": "updatecheck",
  
  //* PLUGIN SETTINGS
  "bdCompat": "betterdiscord",

  //* 
  "changelog": "changelog",
  "Hypesquad Online": "hypesquad",
  "Experiments": "experiments",
  "Developer Options": "developer",
  "logout": "logout",

  //? Server settings
  //* [server name]
  "OVERVIEW": "overview",
  "ROLES": "roles",
  "EMOJI": "emotes",
  "STICKERS": "stickers",
  "MODERATION": "privacy",
  "AUDIT_LOG": "audit",
  "INTEGRATIONS": "integrations",
  "WIDGET": "widgets",
  "GUILD_TEMPLATES": "template",

  //* COMMUNITY
  "COMMUNITY": "overview",
  "ANALYTICS": "analytics",
  "PARTNER": "partner",
  "DISCOVERY": "discovery",
  "MEMBER_VERIFICATION": "rules",
  "COMMUNITY_WELCOME": "welcome",
  "THREADS": "threads",
  "GUILD_PREMIUM": "boosts",

  //* USER MANAGEMENT
  "MEMBERS": "members",
  "INSTANT_INVITES": "invites",
  "BANS": "bans",
  
  //* 
  "DELETE": "delete",
);
@each $oldIcon, $icon in $icons {
  .sidebar-CFHs9e {
    .item-PXvHYJ[aria-controls="#{$oldIcon}-tab"] {
      // i want to kill myself
      @if($oldIcon=="Subscriptions"){--color:var(--qs-yellow1);} // subscriptions tab
      @if($oldIcon=="Discord Nitro"){--color:var(--brand-experiment);} // nitro tab
      @if($oldIcon=="Hypesquad Online"){--color:var(--qs-yellow1);} // hypesquad tab
      @if($oldIcon=="Nitro Server Boost"or$oldIcon=="GUILD_PREMIUM"){--color:var(--qs-pink);} // server boosts tab
      @if($oldIcon=="logout"or$oldIcon=="DELETE"){--color:var(--qs-red);} // logout and delete server buttons

      &::before {
                mask: url("https://rawcdn.githack.com/mwittrien/BetterDiscordAddons/68a9db3bc0b39643d4ac87dfb7e96da38eb8ecdd/Themes/_res/svgs/settingsicons/#{$icon}.svg") center/contain no-repeat;
        -webkit-mask: url("https://rawcdn.githack.com/mwittrien/BetterDiscordAddons/68a9db3bc0b39643d4ac87dfb7e96da38eb8ecdd/Themes/_res/svgs/settingsicons/#{$icon}.svg") center/contain no-repeat;
      }
    }
  }
}
