// this is a Mess

.sidebar-CFHs9e {
  --icon-size: 1.3em;
  width: calc(218px + var(--icon-size) / 2);
  .side-8zPYf6 {
    [aria-controls] {
      padding-left: 2.3em;
      text-transform: capitalize;
      white-space: nowrap;
      color: var(--color, var(--interactive-normal)) !important;
      &.selected-3s45Ha,
      &:active {
        color: white !important;
        background-color: var(--color, var(--brand-experiment)) !important;
      }
      &:active {
        filter: brightness(0.825);
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0 8px;
        width: var(--icon-size);
        -webkit-mask: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/questionmark.svg?sanitize=true") center/contain no-repeat;
        background-color: currentColor;
      }
      .icon-Zc-uZZ, // user settings
      .icon-3Povsy { // server settings
        display: none;
      }
    }
  }
}

$icons: (
  //? User settings
  //* USER SETTINGS
  "my-account": "account",
  "profile-customization": "profile",
  "privacy-&-safety": "privacy",
  "authorized-apps": "apps",
  "connections": "connections",
  
  //* PAYMENT SETTINGS
  "subscriptions": "subscriptions",
  "discord-nitro": "nitro",
  "nitro-server-boost": "boosts",
  "library-inventory": "gift",
  "billing": "billing",
  
  //* APP SETTINGS
  "appearance": "appearance",
  "accessibility": "accessibility",
  "voice-&-video": "voice",
  "text-&-images": "text",
  "notifications": "notifications",
  "keybinds": "keybinds",
  "language": "language",
  "windows": "windows",
  "streamer-mode": "streamermode",
  "advanced": "advanced",
  
  //* ACTIVITY SETTINGS
  "game-activity": "games",
  "overlay": "overlay",
  
  //* POWERCORD
  "pc-general": "settings",
  "pc-modulemanager-plugins": "plugins",
  "pc-modulemanager-themes": "themes",
  "pc-updater": "updatecheck",
  
  //* PLUGIN SETTINGS
  "bdcompat": "betterdiscord",
  "pc-spotify": "spotify",

  //* 
  "changelog": "changelog",
  "hypesquad-online": "hypesquad",
  "experiments": "experiments",
  "developer-options": "developer",
  "logout": "logout",

  //? Server settings
  //* [server name]
  "overview": "overview",
  "roles": "roles",
  "emoji": "emotes",
  "stickers": "stickers",
  "moderation": "privacy",
  "audit_log": "audit",
  "integrations": "integrations",
  "widget": "widgets",
  "guild_templates": "template",

  //* COMMUNITY
  "community": "overview",
  "analytics": "analytics",
  "partner": "partner",
  "discovery": "discovery",
  "member_verification": "rules",
  "welcome_screen": "welcome",
  "threads": "threads",
  "guild_premium": "boosts",

  //* USER MANAGEMENT
  "members": "members",
  "instant_invites": "invites",
  "bans": "bans",
  
  //* 
  "delete": "delete",
);
@each $oldIcon, $icon in $icons {
  .sidebar-CFHs9e {
    .item-PXvHYJ[aria-controls="#{$oldIcon}-tab"] {
      // i want to kill myself
      @if($oldIcon=="subscriptions"){--color:var(--qs-yellow1);} // subscriptions tab
      @if($oldIcon=="discord-nitro"){--color:var(--brand-experiment);} // nitro tab
      @if($oldIcon=="pc-spotify"){--color:var(--spotify-color);} // spotify
      @if($oldIcon=="hypesquad-online"){--color:var(--qs-yellow1);} // hypesquad tab
      @if($oldIcon=="nitro-server-boost"or$oldIcon=="guild_premium"){--color:var(--qs-pink);} // server boosts tab
      @if($oldIcon=="logout"or$oldIcon=="delete"){--color:var(--qs-red);} // logout and delete server buttons

      &::before {
        -webkit-mask: url("https://raw.githubusercontent.com/walter-moment/QuickSCSS-assets/main/settings-icons/#{$icon}.svg?sanitize=true") center/contain no-repeat;
      }
    }
  }
}
