.sidebar-CFHs9e {
  .side-8zPYf6 {
    [aria-controls] {
      padding-left: 36px;
      &.selected-3s45Ha {
        color: white;
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0 8px;
        width: 1.25em;
        mask: url("https://kaiidoo.github.io/Newcord/icons/general/unknowIcon.svg") center/contain no-repeat;
        -webkit-mask: url("https://kaiidoo.github.io/Newcord/icons/general/unknowIcon.svg") center/contain no-repeat;
        background-color: currentColor;
      }
      .icon-Zc-uZZ, // user settings
      .icon-3Povsy { // server settings
        display: none;
      }
    }
  }
}

$icons: (
  "personal settings": (
    "My Account": "myAccount",
    "Profile Customization": "userProfile",
    "Privacy & Safety": "privacyAndSafety",
    "Authorized Apps": "authorisedApps",
    "Connections": "connections",
    "Discord Nitro": "discordNitro",
    "Nitro Server Boost": "serverBoost",
    "Library Inventory": "giftInventory",
    "Billing": "billing",
    "Appearance": "appearance",
    "Accessibility": "accessibility",
    "Voice & Video": "voiceAndVideo",
    "Text & Images": "textAndImage",
    "Notifications": "notifications",
    "Keybinds": "keybinds",
    "Language": "language",
    "Windows": "windowsSettings",
    "Streamer Mode": "streamerMode",
    "Advanced": "advanced",
    "Game Activity": "activityStatus",
    "Overlay": "gameOverlay",
    "changelog": "changeLog",
    "Hypesquad Online": "hypesquad",
    "Experiments": "experiments",
    "Developer Options": "developerOptions",
    "logout": "logOut",
    "pc-general": "settings",
    "pc-moduleManager-plugins": "plugins",
    "pc-moduleManager-themes": "themes",

    "GUILD_PREMIUM": "serverBoost", // this should be below, i have no idea why kaiido put it here
  ),
  "server settings": (
    "OVERVIEW": "overview",
    "ROLES": "roles",
    "EMOJI": "emoji",
    "STICKERS": "stickers",
    "MODERATION": "moderation",
    "AUDIT_LOG": "auditLog",
    "INTEGRATIONS": "integrations",
    "WIDGET": "widget",
    "GUILD_TEMPLATES": "serverTemplates",
    "COMMUNITY": "communityOverview",
    "ANALYTICS": "serverInsights",
    "PARTNER": "partnerProgram",
    "DISCOVERY": "discovery",
    "MEMBER_VERIFICATION": "membershipScreening",
    "COMMUNITY_WELCOME": "welcomeScreen",
    "MEMBERS": "members",
    "INSTANT_INVITES": "invites",
    "BANS": "bans",
    "DELETE": "deleteServer",
  ),
);
@each $folder, $icon in $icons {
  @each $iconName, $newIcon in $icon {
    .sidebar-CFHs9e {
      .item-PXvHYJ[aria-controls="#{$iconName}-tab" i] {
        // i want to kill myself
        @if($iconName=="Discord Nitro"){color: var(--brand-experiment);}
        @if($iconName=="Hypesquad Online"){color: var(--qs-yellow);}
        @if($iconName=="Nitro Server Boost"){color: var(--qs-pink);}
        @if($iconName=="GUILD_PREMIUM"){color: var(--qs-pink);}

        &::before {
          mask: url("https://kaiidoo.github.io/Newcord/icons/#{$folder}/#{$newIcon}.svg") center/contain no-repeat;
          -webkit-mask: url("https://kaiidoo.github.io/Newcord/icons/#{$folder}/#{$newIcon}.svg") center/contain no-repeat;
        }
      }
    }
  }
}
